.mobile-user-nav {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  float: right;
  list-style-type: none;
}

.mobile-user-nav-link {
  display: block;
  height: 24px;
  margin-left: 9px;
  margin-right: 9px;
  font-size: 14px;
  font-weight: 900;
  text-decoration: none;
  color: #fff;
}

.mobile-user-nav-link:hover {
  text-decoration: underline;
}

.mobile-user-nav .signed-in-nav-span {
  display: block;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  height: 24px;
}

.mobile-user-nav .mode-button {
  display: block;
  height: 24px;
  padding-right: 8px;
  font-size: 14px;
  font-weight: 900;
  line-height: 22px;
  text-decoration: none;
  color: #fff;
}

.signed-in-nav-span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.signed-in-nav-span:active {
  cursor: pointer;
}

.mobile_text {
  padding-top: 3px;
}
