.planner_recipe {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  min-width: 100px;
  max-width: 200px;
  height: 32px;
  padding: 3px auto 3px auto;
  margin: 6px 1px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 11px;
  overflow: hidden;
  cursor: move;
}

/*.planner_recipe image {

}*/

.planner_recipe_text {
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 11px;
}