.terms-of-use {
  min-width: 300px;
  max-width: 1000px;
}

.terms-of-use__heading {
  margin-bottom: 12px;
  text-align: center;
}

.terms-of-use__text {
  margin-bottom: 12px;
  font-size: 12px;
  font-family: Arial, sans-serif;
}