#planner_recipes_list {
  width: 757px;
  height: 125px;
  margin-top: 12px;
  border: 1px solid #bfbfbf;
  padding: 6px;
}

#planner_recipes_list #planner_recipe {
  display: inline-block;
  margin: 6px 1px;
}



/* tablet (portrait) */
@media (min-width: 600px) {

}

/* tablet (landscape)*/
@media (min-width: 900px) {

}

/* desktop */
@media (min-width: 1200px) {

}