#close_mobile_left_nav {
  position: absolute;
  left: 250px;
  height: 30px;
  width: 48px;
  border: 1px solid #aaa; border-radius: 2px;
  background-color: #ffd6d6;
}

#mobile_menu_icon {
  display: block;
  width: 18px;
  height: 18px;
  margin: 1px 9px 0 5px;
}

#mobile_menu_icon div {
  width: 18px;
  height: 2px;
  background-color: #fff;
  margin-top: 4px;
}