.feed {
  display: block;
  order: 2;
  min-width: 280px;
  max-width: 620px;
  margin: 10px;
}

.feed-light {
  background-color: #fff;
  color: #000;
}

.feed-dark {
  background-color: #222;
  color: #aaa;
}

.feed-item {
  padding: 10px;
}

.feed-light .feed-item {
  border-bottom: 20px solid #eee;
}

.feed-dark .feed-item {
  border-bottom: 20px solid #111;
}

@media (max-width: 899px) {
  .feed {
    max-width: calc(90% - 10px);
  }
}

@media (max-width: 599px) {
  .feed {
    max-width: 90%;
  }
}