.feed-light {
  background-color: #fff;
  color: #000;
}

.feed-dark {
  background-color: #222;
  color: #aaa;
}

.feed {
  order: 2;
  width: 600px;
  margin: 10px;
}

.news_item {
  padding: 10px;
}

.feed-light .news_item {
  border-bottom: 20px solid #eee;
}

.feed-dark .news_item {
  border-bottom: 20px solid #111;
}