.search-results-filters {
  display: block;
}
 
.search-results-filter-title {
  display: block;
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 12px;
  margin-left: 5px;
}

.sui-facet {
  border-width: 0px;
}

.sui-facet__title {
  margin-left: 5px;
  padding-top: 3px;
  padding-bottom: 8px;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 900;
  font-family: 'Play', sans-serif;
}

.sui-multi-checkbox-facet {
  padding: 12px;
}

.sui-multi-checkbox-facet__option-label {
  display: inline-block;
  width: 92px;
  min-width: 92px;
  max-width: 92px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
}

.sui-multi-checkbox-facet__option-input-wrapper {
}

.sui-multi-checkbox-facet__checkbox {
  display: inline;
  width: 13px;
  height: 13px;
}

.sui-multi-checkbox-facet__input-text {
  display: inline;
  font-size: 1.3rem;
  margin-left: 2px;
}

.sui-multi-checkbox-facet__option-count {
  display: none;
}

/*.sui-result {
  padding: 10px;
}*/

.search-result-equipment {
  padding: 10px;
}

.search-result-equipment-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-decoration: none;
}

.search-result-equipment-link:hover,
.search-result-equipment-link:active {
  background-color: #eee;
}

.search-result-equipment-text__name {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 900;
}

.search-result-equipment-link:hover .search-result-equipment-text .search-result-equipment-text__name,
.search-result-equipment-link:active .search-result-equipment-text .search-result-equipment-text__name {
  color: #c10006;
}

.search-result-equipment-text__type {
  display: inline-block;
  margin-right: 5px;
}

.search-result-equipment-image {
  width: 100px;
  height: 62px;
}