

span {margin-right: 6px; margin-left: 6px;}

#list div a {display: flex; justify-content: space-between; flex-direction: row; flex-wrap: nowrap; border-bottom: 1px solid #777; padding: 10px; cursor: pointer; cursor: hand;}
#list div a div {display: flex; justify-content: center; flex-direction: column; flex-wrap: nowrap; border: none; padding-left: 10px;}
#list div a div span {border: none; font-size: 1.6rem; font-weight: 700; text-decoration: none; color: #000;}
.list_image {margin-right: 20px;}

a {text-decoration: none;}

.page_links {display: block; height: 75px; border-bottom: 1px solid white;}
.page_numbers {display: block; max-width: min-content; height: 25px; margin: 0 auto; position: relative; top: 50%; transform: translateY(-50%);}
.page_number, .current_page_number, .page_nav {font-size: 1.6rem; margin-right: 6px; margin-left: 6px; color: #c10006; cursor: pointer; cursor: hand;}
.page_number:visited, .current_page_number:visited {color: #c10006;}
.current_page_number {color: black;}

.equipments .filter-title,
.equipments .sort-title {
  display: block;
  margin-bottom: 12px;
  margin-left: 5px;
  font-size: 1.6rem;
}

#sorters a {margin-left: 5px;} /* ? */

.equipments .filter-type {
  margin-left: 5px;
  padding-top: 3px;
  padding-bottom: 8px;
}

.equipments .filter-span {
  display: inline-block;
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
}

.equipments .filter-label {
  margin-left: 2px;
  font-size: 1.3rem;
}

/*.equipment {}*/
.equipments .equipment-link {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.equipments .equipment-name {
  font-size: 1.6rem;
}

.equipments .equipment-thumbnail {
  width: 150px;
}