span {margin-right: 6px; margin-left: 6px;} /* ? */

a {text-decoration: none;} /* ? */

.page_links {
  display: block;
  height: 75px;
  border-bottom: 1px solid;
}

.page_numbers {
  display: block;
  max-width: min-content;
  height: 25px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.page_number,
.current_page_number,
.page_nav {
  font-size: 1.6rem;
  margin-right: 6px;
  margin-left: 6px;
  color: #c10006;
  cursor: pointer;
  cursor: hand;
}

.page_number:visited,
.current_page_number:visited {
  color: #c10006;
}

.equipments .filter-title,
.equipments .sort-title {
  display: block;
  margin-bottom: 12px;
  margin-left: 5px;
  font-size: 1.6rem;
}

.equipments .filter-type {
  margin-left: 5px;
  padding-top: 3px;
  padding-bottom: 8px;
}

.equipments .filter-span {
  display: inline-block;
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
}

.equipments .filter-label {
  margin-left: 2px;
  font-size: 1.3rem;
}

.equipments .equipments-list-item {
  margin-top: 10px;
  padding: 10px;
}

.equipments .equipment-link {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.equipments .equipment-name {
  font-size: 1.6rem;
}

.equipments .equipment-thumbnail {
  /*width: 150px;*/
  height: 92px;
}