.plan_recipe {
  align-content: center;
  background-color: #FFF3CC;
  border: 1px solid #FFDEC3;
  box-shadow: 1px 1px 1px #999;
  cursor: move;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Arial, sans-serif;
  font-size: 11px;
  height: 27px;
  margin: 6px 1px;
  max-width: 200px;
  min-width: 100px;
  overflow: hidden;
  text-align: center;
  width: 90%;
}

/*.planner_recipe image {

}*/

.planner_recipe_text {
  font-family: Arial, sans-serif;
  font-size: 11px;
  text-align: center;
  width: 100%;
}