.left_nav {
  order: 1;
  flex: 1 1 auto;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 10px;
  overflow: auto;
  background-color: #fff;
}

span,
#right_aside span {
  display: block;
  margin-bottom: 5px;
}

hr {
  height: 1px;
  border: 0 none;
  margin-bottom: 5px;
  background-color: #bfbfbf;
}

.left_nav .styled_nav_link {
  text-decoration: none;
  color: #000;
}
.left_nav .styled_nav_link:hover {
  background-color: #ddd;
  cursor: pointer;
  cursor: hand;
}
