.left-nav {
  order: 1;
  flex: 1 1 auto;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 10px;
  overflow: auto;
}

.left-nav-light {
  background-color: #fff;
}

.left-nav-light .left-nav-link {
  color: #000;
}

.left-nav-light .left-nav-link {
  background-color: inherit;
}

.left-nav-light hr {
  background-color: #bfbfbf;
}

.left-nav-dark {
  background-color: #222;
}

.left-nav-dark .left-nav-link {
  color: #aaa;
}

.left-nav-dark .left-nav-link {
  background-color: inherit;
}

.left-nav-dark hr {
  background-color: #444;
}

.left-nav-link {
  display: block;
  margin-bottom: 5px;
}

.left-nav hr {
  height: 1px;
  border: 0 none;
  margin-bottom: 5px;
}

.left-nav .left-nav-link {
  text-decoration: none;
}

.left-nav .left-nav-link:hover {
  cursor: pointer;
  cursor: hand;
}

.left-nav.left-nav-light .left-nav-link:hover {
  background-color: #ddd;
}

.left-nav.left-nav-dark .left-nav-link:hover {
  background-color: #444;
}



/* mobile */
@media (max-width: 599px) {
  .left-nav {
    display: none;
  }
}
