/*.dashboard {

}*/

.dashboard-avatar {
  /*width: 940px;*/
  width: 100%;
}

.dashboard-avatar-edit {
  /*width: 940px;*/
  width: 100%;
}

.dashboard-avatar-label {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.avatar-input {
  margin-bottom: 10px;
}

.avatar-crop-tool {
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.avatar-crop-previews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatar-crop-full-preview {
  order: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.avatar-crop-full-preview img {
  min-height: 250px;
  max-height: 250px;
  margin-left: 5px;
}

.avatar-crop-tiny-preview {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.avatar-crop-tiny-preview img {
  min-height: 25px;
  max-height: 25px;
  margin-left: 5px;
}

.avatar-cancel-button {
  display: inline-block;
  width: 235px;
  height: 30px;
  margin-right: 30px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.avatar-submit-button {
  display: inline-block;
  width: 235px;
  height: 30px;
  margin-right: 30px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}

.dashboard-hr {
  width: 100%;
  height: 1px;
  border: 0 none;
  margin-bottom: 10px;
}

.dashboard-menu-tabs,
.dashboard-menu-subtabs {
  margin-bottom: 10px;
  border-bottom: 2px solid #6cabe4;
}

.dashboard-menu-tab,
.dashboard-menu-subtab {
  width: 235px;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #ddd;
  border-right-color: #666;
  border-bottom-color: #666;
  border-left-color: #ddd;
  line-height: 26px;
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
  color: #222;
  cursor: pointer;
}

.dashboard-menu-tab.active,
.dashboard-menu-subtab.active {
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
}

.dashboard-menu-tab.inactive,
.dashboard-menu-subtab.inactive {
  background-image: linear-gradient(to bottom, #eee, #bbb);
}

.dashboard-content {
  width: 100%;
}

.create-new-entity {
  display: block;
  width: 235px;
  height: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  color: #000;
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}

.dashboard-content-none {
  font-size: 13px;
}

.dashboard-content-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 28px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  padding-top: 1px;
  line-height: 24px;
}

.dashboard-content-item:first-of-type {
  border-top-style: solid;
  border-top-width: 1px;
}

.dashboard-content-item-tiny {
  width: 25px;
  padding-left: 1px;
}

.dashboard-content-item-name {
  min-width: 160px;
  width: auto;
  max-width: 690px;
  padding-right: 10px;
  padding-left: 10px;
}

.dashboard-content-item-action {
  width: 75px;
}

@media (max-width: 1179px) {
  .dashboard-menu-tabs,
  .dashboard-menu-subtabs {
    width: 235px;
  }

  .dashboard-content-item-action {
    width: 40px;
  }
}