.submit-recipe {
  /*width: 1000px;*/
}

.submit-recipe .error-message {
  width: 100%;
  height: 31px;
  color: #c10006;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
}

.submit-recipe select:required {
  box-shadow: none;
}



.ownership-spans {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ownership-span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90px;
  min-width: 90px;
  max-width: 90px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
}

.ownership-span-input {
  order: 1;
  display: block;
  width: 13px;
  min-width: 13px;
  max-width: 13px;
  height: 13px;
  min-height: 13px;
  max-height: 13px;
  margin-top: 9px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.ownership-span-label {
  order: 2;
  display: block;
  width: fit-content;
  height: 13px;
  min-height: 13px;
  max-height: 13px;
  margin-top: 9px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 4px;
  font-size: 1.3rem;
  font-weight: 700;
}



.method-spans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 540px;
}

.method-span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*align-items: center;*/
  width: 90px;
  min-width: 90px;
  max-width: 90px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
}

.method-span-input {
  order: 1;
  display: block;
  width: 13px;
  min-width: 13px;
  max-width: 13px;
  height: 13px;
  min-height: 13px;
  max-height: 13px;
  margin-top: 9px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.method-span-label {
  order: 2;
  display: block;
  width: fit-content;
  height: 13px;
  min-height: 13px;
  max-height: 13px;
  margin-top: 9px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 4px;
  font-size: 1.3rem;
  font-weight: 700;
  /*line-height: 13px;*/
}



.submit-recipe .title input,
.submit-recipe .description input {
  display: block;
  width: 100%;
  height: 31px;
  margin: 0 auto 0 auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  padding: 3px 7px 3px 7px;
}

#equipment_div,
#ingredients_div,
#subrecipes_div,
#steps_div,
.image_div {
  padding-top: 18px;
}

.red_style {
  font-size: 1.7rem;
  /*color: #333;*/
}

.manual_amount,
.manual_amount_sub {
  display: inline;
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  height: 25px;
  margin-right: 18px;
  margin-left: 4px;
}

.select_subrecipe {
  width: 233px;
  min-width: 233px;
  max-width: 233px;
  margin-right: 18px;
}

.manual_step {
  margin-right: 18px;
  margin-left: 4px;
}

.recipe_additions p {
  display: block;
  width: 100%;
  margin: 14px auto 4px auto;
  font-size: 1.3rem;
  font-weight: 700;
}

.recipe_additions label {
  display: inline-block;
  margin: 14px auto 4px auto;
  font-size: 1.3rem;
  font-weight: 700;
}

.recipe_additions input {
  display: inline-block;
  width: 75%;
}

.recipe_additions div select {
  margin-right: 17px;
  margin-left: 3px;
}



/*
Add & Remove Buttons
*/
.remove_equipment_row_button,
.remove_ingredient_row_button,
.remove_subrecipe_row_button,
.remove_step_row_button {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 2px;
}

#add_equipment_button,
#add_ingredient_button,
#add_subrecipe_button,
#add_step_button {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 2px;
}

#add_equipment_button,
#add_subrecipe_button {
  margin-top: 8px;
}

#add_ingredient_button,
#add_step_button {
  margin-top: 10px;
}

#add_step_button {
  display: block;
}



/*
Submit Button
*/
#submit_button {
  display: block;
  width: 100%;
  height: 31px;
  margin: 48px auto 24px auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-top-color: #999;
  border-right-color: #777;
  border-bottom-color: #555;
  border-left-color: #777;
  padding-top: 1px;
  font-family: 'Play', sans-serif;
  font-size: 1.4rem;
  color: black;
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
  cursor: pointer;
  cursor: hand;
}

#submit_button:hover {
  background-image: linear-gradient(to bottom, #8cbeec, #4493d8);
}

#submit_button:active {
  background-image: linear-gradient(to bottom, #8cbeec, #4493d8);
}

.submit-recipe-cancel-button {
  display: inline-block;
  width: 235px;
  height: 30px;
  margin-right: 30px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  line-height: 26px;
  color: black;
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.submit-recipe-submit-button {
  display: inline-block;
  width: 235px;
  height: 30px;
  margin-right: 30px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  line-height: 26px;
  font-family: 'Play', sans-serif;
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}