/*.submit-recipe {

}*/

.submit-recipe__error-message {
  width: 100%;
  height: 31px;
  color: #c10006;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
}

.submit-recipe__section-ownership
.submit-recipe__section-recipe-type,
.submit-recipe__section-cuisine,
.submit-recipe__section-title,
.submit-recipe__section-description,
.submit-recipe__section-required-methods,
.submit-recipe__section-required-equipment,
.submit-recipe__section-required-ingredients,
.submit-recipe__section-required-subrecipes,
.submit-recipe__section-directions,
.submit-recipe__section-recipe-image,
.submit-recipe__section-equipment-image,
.submit-recipe__section-ingredients-image,
.submit-recipe__section-cooking-image {
  padding-top: 18px;
}

.submit-recipe__heading-two {
  font-size: 1.7rem;
}

.submit-recipe select:required {
  box-shadow: none;
}

.ownership-spans {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ownership-span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90px;
  min-width: 90px;
  max-width: 90px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
}

.ownership-span-input {
  order: 1;
  display: block;
  width: 13px;
  min-width: 13px;
  max-width: 13px;
  height: 13px;
  min-height: 13px;
  max-height: 13px;
  margin-top: 9px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.ownership-span-label {
  order: 2;
  display: block;
  width: fit-content;
  height: 13px;
  min-height: 13px;
  max-height: 13px;
  margin-top: 9px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 4px;
  font-size: 1.3rem;
  font-weight: 700;
}

.method-spans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 540px;
}

.method-span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*align-items: center;*/
  width: 90px;
  min-width: 90px;
  max-width: 90px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
}

.method-span-input {
  order: 1;
  display: block;
  width: 13px;
  min-width: 13px;
  max-width: 13px;
  height: 13px;
  min-height: 13px;
  max-height: 13px;
  margin-top: 9px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.method-span-label {
  order: 2;
  display: block;
  width: fit-content;
  height: 13px;
  min-height: 13px;
  max-height: 13px;
  margin-top: 9px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 4px;
  font-size: 1.3rem;
  font-weight: 700;
}

.submit-recipe .title input,
.submit-recipe .description input {
  display: block;
  width: 100%;
  height: 31px;
  margin: 0 auto 0 auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  padding: 3px 7px 3px 7px;
}

.equipment-row,
.ingredient-row,
.subrecipe-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}

.equipment-row__label,
.ingredient-row__label,
.subrecipe-row__label {
  height: 23px;
  margin-right: 4px;
  margin-left: 18px;
  padding-top: 3px;
  font-size: 1.3rem;
  font-weight: 700;
}

.equipment-row__select-amount {
  height: 23px;
}

.equipment-row__select-equipment-type {
  height: 23px;
}

.equipment-row__select-equipment {
  height: 23px;
}

.equipment-row__remove-row,
.ingredient-row__remove-row,
.subrecipe-row__remove-row {
  height: 23px;
  margin-left: 18px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 2px;
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.ingredient-row__manual-amount,
.subrecipe-row__manual-amount {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
}

.subrecipe-row__select-subrecipe {
  width: 233px;
  min-width: 233px;
  max-width: 233px;
}

#add_equipment_button,
#add_ingredient_button,
#add_subrecipe_button {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 2px;
}

#add_equipment_button,
#add_subrecipe_button {
  margin-top: 8px;
}

#add_ingredient_button {
  margin-top: 10px;
}

.recipe-directions {
  width: 100%;
  height: 102px;
}

.submit-recipe-image-crop-previews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.submit-recipe-image-crop-full-preview,
.submit-recipe-image-crop-thumb-preview,
.submit-recipe-image-crop-tiny-preview {
  order: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.submit-recipe-image-crop-full-preview img,
.submit-recipe-image-crop-thumb-preview img,
.submit-recipe-image-crop-tiny-preview img {
  margin-left: 5px;
}

.submit-recipe .change-default {
  padding-bottom: 3px;
}

.submit-recipe-image-cancel-button {
  height: 21px;
  padding-right: 6px;
  padding-left: 6px;
}

.submit-recipe-cancel-button,
.submit-recipe-submit-button {
  width: 235px;
  height: 30px;
  margin-right: 30px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  color: black;
}

.submit-recipe-cancel-button {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.submit-recipe-submit-button {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}



@media (max-width: 1209px) {
  .submit-recipe-finish-area {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .submit-recipe-cancel-button,
  .submit-recipe-submit-button {
    display: block;
    width: 235px;
    margin: 15px auto 0 auto;
  }
}



@media (max-width: 1000px) {
  .equipment-row,
  .ingredient-row,
  .subrecipe-row {
    flex-direction: column;
  }
}