.search-results-filters {
  display: block;
}
 
.search-results-filter-title {
  display: block;
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 12px;
  margin-left: 5px;
}

.sui-facet {
  border-width: 0px;
}

.sui-facet__title {
  margin-left: 5px;
  padding-top: 3px;
  padding-bottom: 8px;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 900;
  font-family: 'Play', sans-serif;
}

.sui-multi-checkbox-facet {
  padding: 12px;
}

.sui-multi-checkbox-facet__option-label {
  display: inline-block;
  width: 92px;
  min-width: 92px;
  max-width: 92px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
}

.sui-multi-checkbox-facet__checkbox {
  display: inline;
}

.sui-multi-checkbox-facet__input-text {
  display: inline;
  font-size: 1.3rem;
  margin-left: 2px;
}

.sui-multi-checkbox-facet__option-count {
  display: none;
}

.sui-paging {
  margin-bottom: 20px;
  margin-top: 20px;
  list-style-type: none;
}

.rc-pagination {
  display: flex;
  flex-direction: row;
}

.rc-pagination-item {
  margin-right: 12px;
  margin-left: 12px;
  font-weight: 900;
}

.rc-pagination-item a {
  font-size: 1.5rem;
}

.rc-pagination-item:hover {
  color: #c10006;
  cursor: pointer;
}

.sui-paging-info {
  margin-left: 12px;
  font-size: 12px;
}

.sui-results-per-page {
  margin-left: 12px;
}

.sui-results-per-page,
.sui-select__control {
  display: flex;
  flex-direction: row;
}

.sui-select__single-value {
  font-size: 12px;
}

.sui-results-per-page__label {
  padding-top: 4px;
  font-size: 12px;
}

.sui-results-per-page .sui-select .sui-select--inline {

}

.search-result-ingredient {
  padding: 10px;
}

.search-result-ingredient-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-decoration: none;
}

.search-result-ingredient-link:hover,
.search-result-ingredient-link:active {
  background-color: #eee;
}

.search-result-ingredient-text__name {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 900;
}

.search-result-ingredient-link:hover .search-result-ingredient-text .search-result-ingredient-text__name,
.search-result-ingredient-link:active .search-result-ingredient-text .search-result-ingredient-text__name {
  color: #c10006;
}

.search-result-ingredient-text__type {
  display: inline-block;
  margin-right: 5px;
}

.search-result-ingredient-image {
  width: 100px;
  height: 62px;
}