.disclaimer {
  min-width: 300px;
  max-width: 1000px;
}

.disclaimer h1,
.disclaimer #final {
  margin-bottom: 12px;
  text-align: center;
}

.disclaimer p {
  margin-bottom: 12px;
  font-size: 12px;
  font-family: Arial, sans-serif;
}
