.user-nav {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: nowrap;
  float: right;
  justify-content: center;
  list-style-type: none;
}

.user-nav li {
  margin: 0 9px;
}

.user-nav-link,
.user-nav .signed-in-nav-span,
.user-nav .mode-button {
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 900;
  height: 24px;
  text-decoration: none;
}

.user-nav-link:hover,
.user-nav-link:active {
  text-decoration: underline;
}

.user-nav .mode-button {
  line-height: 16px;
}

.signed-in-nav-span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.mode-button:hover {
  cursor: pointer;
  text-decoration: none;
}

.signed-in-nav-span:active,
.mode-button:active {
  cursor: pointer;
}

.sun-symbol,
.moon-symbol {
  font-style: normal;
}

.sun-symbol {
  color: #fffdb1;
}

.moon-symbol {
  color: #183a39;
}