.mobile-search {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 250px;
  max-width: 100%;
  height: 32px;
  max-height: 32px;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #777;
  border-right-color: #aaa;
  border-bottom-color: #aaa;
  border-left-color: #777;
  padding: 0;
}



/*

Note:

We use id selectors here (instead of class selectors) so that
the swapFacadeText function works. There are probably better approaches,
which would also allow using class selectors. 

TO DO:

Come back to this at a later time, see if a better approach can be done.

*/

#mobile-search-category {
  position: relative;
  order: 1;
  display: block;
  width: auto;
  max-width: 100%;
  height: 30px;
}

#mobile-search-facade {
  position: relative;
  float: left;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #fff;
  border-right-color: #888;
  border-bottom-color: #888;
  border-left-color: #fff;
  /*background-image: linear-gradient(to bottom, #eee, #bbb);*/
  background-color: #cdcdcd;
}

#mobile-search-facade__text {
  margin-right: 21px;
  margin-left: 8px;
  line-height: 30px;
  font-size: 1.3rem;
  color: #666;
}

#mobile-search-facade__arrow {
  position: absolute;
  top: 12px;
  right: 7px;
}

#mobile-search-prefilter {
  position: absolute;
  left: 0;
  height: 30px;
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}

/*#mobile-search-prefilter option {

}*/

.mobile-search-insert {
  position: relative;
  order: 1;
  flex: 1;
  width: 100%;
  height: 30px;
}

.sui-search-box {
  display: flex;
  flex-direction: row;
}

.mobile-sui-search-box__wrapper {
  position: relative;
  order: 1;
  flex: 1;
  width: 100%;
  height: 30px;
}

.mobile-sui-search-box__wrapper .sui-search-box__text-input {
  width: 100%;
  height: 30px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 3px 10px 3px 0;
  -webkit-appearance: none;
  box-shadow: none;
  text-indent: 5px;
  font-family: Arial, sans-serif;
}

.header-light .sui-search-box__text-input {
  background-color: #fff;
  color: #111;
}

.header-dark .sui-search-box__text-input {
  background-color: #333;
  color: #bbb;
}

.sui-search-box__autocomplete {
  border: 1px solid #bfbfbf;
  background-color: #fff;
}

.sui-search-box__suggestion-list,
.sui-search-box__results-list {
  padding-left: 5px;
  list-style-type: none;
  background-color: #fff;
  color: #111;
}

.sui-search-box__suggestion-list li,
.sui-search-box__results-list li {
  font-weight: 700;
  font-style: normal;
}

.sui-search-box__suggestion-list li em,
.sui-search-box__results-list li em {
  font-weight: 100;
  font-style: normal;
}

.sui-search-box__suggestion-list li,
.sui-search-box__results-list li {
  height: 30px;
  background-color: #fff;
  line-height: 26px;
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  color: #111;
  cursor: pointer;
}

.mobile-sui-search-box__submit {
  order: 2;
  width: 32px;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #ddd;
  border-right-color: #666;
  border-bottom-color: #666;
  border-left-color: #ddd;
  background-color: #b8dbfb;
  line-height: 26px;
  cursor: pointer;
}

.magnifying-glass {
  position: relative;
  display: block;
  height: 12px;
  width: 12px;
  border: 2px solid #555;
  border-radius: 30px;
  background-color: #b8dbfb;
  margin-bottom: 1px;
}

.magnifying-glass:after {
  position: absolute;
  top: 8px;
  left: 6px;
  height: 2px;
  width: 7px;
  background-color: #555;
  content: "";
  transform: rotate(45deg);
}