.profile {
  width: 1000px;
}

.profile-list-menu-tabs {
  border-bottom: 2px solid #6cabe4;
  margin-bottom: 10px;
  width: 470px;
}

.profile-list-menu-tab {
  border-color: #ddd #666 #666 #ddd;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  color: #222;
  cursor: pointer;
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
  height: 30px;
  line-height: 26px;
  padding: 0 8px;
  width: 235px;
}

.profile-list-menu-tab.active {
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
}

.profile-list-menu-tab.inactive {
  background-image: linear-gradient(to bottom, #eee, #bbb);
}

.profile-content-none {
  font-size: 13px;
}

.profile-list-item {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 28px;
  line-height: 24px;
  width: 100%;
}

.profile-list-item:first-of-type {
  border-top-style: solid;
  border-top-width: 1px;
}

.profile-list-item-tiny {
  height: 18px;
  padding-left: 1px;
  width: 28px;
}

.profile-list-item-name {
  padding: 0 10px;
  width: 760px;
}

.profile-list-item-name a {
  color: #68abe6;
}

.profile-list-item-name a:visited {
  color: #68abe6;
}

@media (max-width: 1209px) {
  .profile {
    width: 100%;
  }
}

@media (max-width: 509px) {
  .profile-list-menu-tabs {
    width: 100%;
  }

  .profile-list-menu-tab {
    width: 50%;
  }

  .profile-list-item-name {
    width: 100%;
  }
}