.cuisines {
  max-width: 1200px;
  min-width: 300px;
}

.cuisine-nav-group,
.cuisine-nav-title {
  margin-bottom: 18px;
}

.cuisine-nav-letter {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 10px;
}

.cuisine-nav-nation {
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
}

.cuisine-nav-nation-link {
  color: #000;
  text-decoration: none;
}

.cuisine-nav-nation-link:active,
.cuisine-nav-nation-link:hover {
  color: #c10006;
}