/*.new-equipment {
  width: 1000px;
}*/

.new-equipment .error-message {
  width: 100%;
  height: 31px;
  color: #c10006;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
}

.new-equipment__heading-two {
  padding-top: 18px;
  font-size: 1.7rem;
}

.new-equipment__name {
  display: block;
  width: 100%;
  height: 31px;
  margin: 0 auto 0 auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  padding: 3px 7px 3px 7px;
}

.new-equipment__description {
  width: 100%;
}

.new-equipment__finish-area {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.new-equipment__cancel-button,
.new-equipment__submit-button {
  display: block;
  width: 235px;
  height: 30px;
  margin-right: 30px;
  margin-top: 15px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  color: black;
}

.new-equipment__cancel-button {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.new-equipment__submit-button {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}



@media (max-width: 899px) {
  .new-equipment__finish-area {
    flex-direction: column;
  }

  .new-equipment__cancel-button,
  .new-equipment__submit-button {
    margin: 15px auto 0 auto;
  }
}