.friends {
  width: 1000px;
}

.friends .error-message {
  width: 100%;
  height: 31px;
  color: #c10006;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
}

.friends-find {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.friends-hr {
  width: 100%;
  height: 1px;
  border: 0 none;
  margin-bottom: 10px;
}

.friends-list-menu-tabs {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 2px solid #6cabe4;
}

.friends-list-menu-tab {
  width: 235px;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #ddd;
  border-right-color: #666;
  border-bottom-color: #666;
  border-left-color: #ddd;
  line-height: 26px;
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
  color: #222;
  cursor: pointer;
}

.friends-list-menu-tab.active {
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
}

.friends-list-menu-tab.inactive {
  background-image: linear-gradient(to bottom, #eee, #bbb);
}

.friends-list {
  width: 100%;
}

.friends-find-request,
.friends-find-block {
  display: block;
  width: 235px;
  height: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  color: #000;
}

.friends-find-request {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}

.friends-find-block {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.friends-list-none {
  font-size: 13px;
}

.friends-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 28px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  line-height: 24px;
}

.friends-list-item:first-of-type {
  border-top-style: solid;
  border-top-width: 1px;
}

.friends-list-item-avatar {
  width: 25px;
  height: 25px;
  padding-left: 1px;
}

.friends-list-item-username {
  width: 760px;
  padding-right: 10px;
  padding-left: 10px;
}

.friends-list-item-username a {
  color: #68abe6;
}

.friends-list-item-username a:visited {
  color: #68abe6;
}

.friends-list-item-action,
.friends-list-item-delete {
  width: 75px;
  height: 19px;
  margin-right: 1px;
  border: 1px solid #aaa;
  border-radius: 2px;
  line-height: 18px;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.friends-list-item-action {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}

.friends-list-item-delete {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}



@media (max-width: 1209px) {
  .friends-list-menu-tabs {
    width: 235px;
    margin: 0 auto;
  }

  .friends-find-request,
  .friends-find-block {
    margin: 0 auto 10px auto;
  }

  .friends-list-item-action,
  .dashboard-content-item-delete {
    width: 44px;
    padding-right: 2px;
    padding-left: 2px;
  }
}