.suggestions {
  order: 3;
  min-width: 280px;
  max-width: 340px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
}

.suggestions-light {
  background-color: #fff;
}

.suggestions-light .suggestions__header {
  display: block;
  margin-bottom: 5px;
  color: #000;
}

.suggestions-light .suggestions__line {
  height: 1px;
  margin-bottom: 5px;
  border: 0 none;
  background-color: #bfbfbf;
}

.suggestions-dark {
  background-color: #222;
}

.suggestions-dark .suggestions__header {
  display: block;
  margin-bottom: 5px;
  color: #aaa;
}

.suggestions-dark .suggestions__line {
  height: 1px;
  margin-bottom: 5px;
  border: 0 none;
  background-color: #444;
}

#suggestions__nearby-stores {
  width: 260px;
  height: 260px;
}

#nearby-stores__iframe,
#nearby-stores__button {
  width: 100%;
  height: 100%;
}

#nearby-stores__button {
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #fff;
  border-right-color: #888;
  border-bottom-color: #888;
  border-left-color: #fff;
  background-image: linear-gradient(to bottom, #eee, #bbb);
  cursor: pointer;
}

@media (max-width: 899px) {
  .suggestions {
    max-width: calc(90% - 10px);
  }
}

@media (max-width: 599px) {
  .suggestions {
    max-width: 90%;
  }
}