.suggestions {
  order: 3;
  min-width: 280px;
  max-width: 340px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
}

.suggestions-light {
  background-color: #fff;
}

.suggestions-light span {
  display: block;
  color: #000;
}

.suggestions-light hr {
  background-color: #bfbfbf;
}

.suggestions-dark {
  background-color: #222;
}

.suggestions-dark span {
  display: block;
  color: #aaa;
}

.suggestions-dark hr {
  background-color: #444;
}

@media (max-width: 899px) {
  .suggestions {
    max-width: calc(90% - 10px);
  }
}

@media (max-width: 599px) {
  .suggestions {
    max-width: 90%;
  }
}