.header {
  height: 92px;
  font-family: 'Play', sans-serif;
  height: 92px;
  max-width: calc(100vw - (100vw - 100%));
  min-width: 300px;
  z-index: 3;
}

.header-light {
  background-color: #c10006;
}

.header-dark {
  background-color: #690004;
}

.header-row-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 62px;
  justify-content: space-between;
  min-width: 900px;
  width: 100%;
}

.header-row-1-col-1 {
  height: inherit;
  max-width: 510px;
  min-width: 510px;
  order: 1;
  padding-left: 29px;
  width: 510px;
}

.header-row-1-col-2 {
  height: inherit;
  min-width: 410px;
  order: 2;
  padding: 0 42px 0 20px;
  width: 100%;
}

.header-row-1-col-3 {
  height: inherit;
  max-width: 270px;
  min-width: 270px;
  order: 3;
  padding-right: 30px;
  position: relative;
  width: 270px;
}

.header-row-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 30px;
  justify-content: space-between;
  min-width: 900px;
  width: 100%;
}

.header-row-2-col-1 {
  height: inherit;
  min-width: 340px;
  order: 1;
  padding: 5px 0 0 30px;
  width: auto;
}

.header-row-2-col-2 {
  height: inherit;
  min-width: 0px;
  order: 2;
  width: auto;
}

.header-row-2-col-3 {
  height: inherit;
  min-width: 430px;
  order: 3;
  padding: 5px 30x 0 0;
  width: auto;
}



/* tablet (portrait)
@media (min-width: 600px) {

}*/

/* tablet (landscape)
@media (min-width: 900px) {

}*/

/* desktop
@media (min-width: 1200px) {

}*/

@media (max-width: 1279px) {
  .header-row-1-col-1 {
    max-width: 180px;
    min-width: 180px;
    width: 180px;
  }

  .header-row-1-col-3 {
    max-width: 210px;
    min-width: 210px;
    width: 210px;
  }
}