.mainwhite {
  min-width: 300px;
  max-width: 100%;
  /*padding-top: 25px;*/
  padding-bottom: 25px;
}

.main-light {
  background-color: #eee;
}

.main-dark {
  background-color: #111;
}

.show-shadow {
  position: absolute;
  bottom: 1;
  top: 92px;
  left: -42px;
  display: block;
  width: 3000px;
  height: 3000px;
  background: rgba(0, 0, 0, .5);
  z-index: 2;
}

.hide-shadow {
  position: absolute;
  bottom: 1;
  top: 92px;
  left: -42px;
  display: none;
  width: 3000px;
  height: 3000px;
  background: rgba(0, 0, 0, .5);
  z-index: 2;
}



/* mobile */
@media (max-width: 899px) {
  .mainwhite {
    min-width: 300px;
    max-width: 100vw;
  }
}