.not_found {
  display: block;
  margin: 50px auto;
}

.not_found img {
  display: block;
  margin: 0 auto;
}

.not_found h1 {
  display: block;
  width: 262px;
  margin: 0 auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 36px;
}
