.not-found {
  display: block;
  margin: 50px auto;
}

.not-found-heading {
  display: block;
  width: 262px;
  margin: 0 auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 36px;
}