.menu-container {
  position: absolute;
	top: 18px;
	left: -12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
	height: 306px;
	/*width: 550px;*/
	padding: 0;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	cursor: pointer;
  z-index: 4;
}

.menu-container.drop-down-menu-light {
  background-color: #fff;
  border-color: #bfbfbf;
}

.menu-container.drop-down-menu-dark {
  background-color: #999;
  border-color: #888;
}

.menu {
  order: 1;
  width: 250px;
  margin: 0;
  padding-top: 12px;
	padding-right: 6px;
	padding-bottom: 9px;
	padding-left: 9px;
}

.menu.drop-down-menu-light {
  border-right: 1px solid #eee;
}

.menu.drop-down-menu-dark {
  border-right: 1px solid #888;
}

.menu ul,
.menu ul .menu-item,
.menu ul .menu-item a {
  display: block;
  margin: 0 0 6px 0;
  color: #000;
  text-decoration: none;
}

.menu ul .active a {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}

.menu ul .active a.drop-down-menu-light {
  color: #c10006;
}

.menu ul .active a.drop-down-menu-dark {
  color: #690004;
}

.sub-menu {
  order: 2;
  width: 400px;
  margin: 0;
  padding-top: 12px;
	padding-right: 6px;
	padding-bottom: 9px;
	padding-left: 9px;
}

.sub-menu h3,
.sub-menu h3 a {
  display: block;
  margin-bottom: 6px;
  font-size: 1.6rem;
  text-decoration: none;
}

.sub-menu h3.drop-down-menu-light,
.sub-menu h3 a.drop-down-menu-light {
  color: #c10006;
}

.sub-menu h3.drop-down-menu-dark,
.sub-menu h3 a.drop-down-menu-dark {
  color: #690004;
}

.sub-menu ul {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
}

.sub-menu ul .sub-menu-item {
  display: block;
  height: 16px;
  margin: 0 0 6px 0;
}

.sub-menu ul .sub-menu-item a {
  color: #000;
}

.sub-menu ul .sub-menu-item a:hover {
  text-decoration: underline;
}

.sub-menu ul .sub-menu-item a:hover.drop-down-menu-light {
  color: #c10006;
}

.sub-menu ul .sub-menu-item a:hover.drop-down-menu-dark {
  color: #690004;
}

.sub-menu img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
