.crumb,
.crumbs {
  display: flex;
  flex-direction: row;
}

.crumbs {
  font-family: Arial, Helvetica, sans-serif;
  margin: 6px auto 0px auto;
  width: max-content;
}

.crumbs a {
  color: #68abe6;
}

.crumbs a:visited {
  color: #68abe6;
}

.crumb-pointer {
  padding: 0 12px;
}

/*

light

*/

.bread-crumbs-light a:hover {
  color: #c10006;
}

.bread-crumbs-light .crumb-pointer {
  color: #000;
}

/*

dark

*/

.bread-crumbs-dark a:hover {
  color: #690004;
}

.bread-crumbs-dark .crumb-pointer {
  color: #aaa;
}