.crumbs,
.crumb {
  display: flex;
  flex-direction: row;
}

.crumbs {
  width: max-content;
  margin: 6px auto 0px auto;
  font-family: Arial, Helvetica, sans-serif;
}

.crumbs a {
  color: #68abe6;
}

.crumbs a:visited {
  color: #68abe6;
}

.crumb_pointer {
  padding-left: 12px;
  padding-right: 12px;
}

.bread-crumbs-light a:hover {
  color: #c10006;
}

.bread-crumbs-light .crumb_pointer {
  color: #000;
}

.bread-crumbs-dark a:hover {
  color: #690004;
}

.bread-crumbs-dark .crumb_pointer {
  color: #aaa;
}