#page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
}

article {
  order: 2;
  flex: 1 1 auto;
  width: 960px;
  min-width: 960px;
  max-width: 960px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 10px;
  background-color: #fff;
}

#autosave_feedback {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5px;
  text-align: center;
  color: #aaa;
}

#calendar_container {
  width: 99%;
  height: 480px;
  margin: 0 auto 0 auto;
  padding-top: 5px;
}

#monthly_plan {
  width: 756px;
  /*height: 328px;*/
  background: #b1d7f9;
}

#monthly_plan table {
  height: 321px;
  max-height: 321px;
  border-collapse: collapse;
  table-layout: fixed;
}

#monthly_plan tr {
  position: relative;
  max-height: 75px;
  overflow: hidden;
  background: #b1d7f9;
}

#monthly_plan th {
  width: 107px;
  height: 20px;
  text-align: center;
}

#monthly_plan td {
  width: 107px;
  height: 75px;
  max-height: 75px;
  overflow: hidden;
  border: 1px solid #b1d7f9;
  padding: 0;
}

.the_date {
  position: absolute;
  top: 0;
  right: 0;
  width: content;
  height: content;
  padding-top: 1px;
  padding-right: 3px;
  user-select: none;
  color: #afafaf;
}

.planner_day_collapsed {
  position: relative;
  width: 107px;
  height: 75px;
  max-height: 75px;
  padding-top: 18px;
  padding-left: 3px;
  overflow: hidden;
  cursor: hand;
  cursor: pointer;
  transform: none;
}

.planner_day_expanded {
  position: absolute;
  width: 150px;
  height: 450px;
  max-height: 460px;
  padding-top: 18px;
  padding-left: 6px;
  background: #fff;
  border: 1px solid #bfbfbf;
  overflow: hidden;
  cursor: hand;
  cursor: pointer;
  box-shadow: 1px 1px 1px #555;
  z-index: 3;
  transform: translateX(var(--shiftX)) translateY(var(--shiftY));
}

.planner_day_green {
  background: #d6ffd6;
}

.planner_day_white {
  background: #fff;
}

.desktop_display {
  display: block;
}

.mobile_display {
  display: none;
}



/* mobile */
@media (max-width: 599px) {
  #page {
    display: block;
    width: 1200px;
    margin: 0;
    padding-top: 10px;
  }
  
  article {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }

  article h1 {
    margin: 0;
  }
  
  #autosave_feedback {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5px;
    text-align: center;
    color: #aaa;
  }
  
  #calendar_container {
    width: 99%;
    height: 480px;
    margin: 0 auto 0 auto;
    padding-top: 5px;
  }
  
  #monthly_plan {
    width: 300px;
    /*height: 328px;*/
    background: #b1d7f9;
  }
  
  #monthly_plan table {
    height: 134px;
    max-height: 134px;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  #monthly_plan tr .mobile_display {
    position: relative;
    min-width: 100%;
    max-height: 40px;
    background: #b1d7f9;
  }
  
  #monthly_plan th {
    width: 40px;
    height: 20px;
    text-align: center;
  }
  
  #monthly_plan td {
    width: 40px;
    height: 32px;
    max-height: 32px;
    overflow: hidden;
    border: 1px solid #b1d7f9;
    padding: 0;
  }
  
  .the_date {
    position: absolute;
    top: 0;
    right: 0;
    width: content;
    height: content;
    padding-top: 1px;
    padding-right: 3px;
    user-select: none;
    color: #afafaf;
  }
  
  .planner_day_collapsed {
    position: relative;
    width: 40px;
    height: 32px;
    max-height: 32px;
    padding-top: 18px;
    padding-left: 3px;
    overflow: hidden;
    cursor: hand;
    cursor: pointer;
    transform: none;
  }
  
  .planner_day_expanded {
    position: absolute;
    width: 150px;
    height: 450px;
    max-height: 460px;
    padding-top: 18px;
    padding-left: 6px;
    background: #fff;
    border: 1px solid #bfbfbf;
    overflow: hidden;
    cursor: hand;
    cursor: pointer;
    box-shadow: 1px 1px 1px #555;
    z-index: 3;
    transform: translateX(var(--shiftX)) translateY(var(--shiftY));
  }

  .desktop_display {
    display: none;
  }
  
  .mobile_display {
    display: block;
  }
}

/* tablet (portrait) */
@media (min-width: 600px) {

}

/* tablet (landscape)*/
@media (min-width: 900px) {

}

/* desktop */
@media (min-width: 1200px) {

}
