
#header_row_2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-width: 1280px;
  height: 30px;
}

#header_row_2_col_1 {
  order: 1;
  width: auto;
  min-width: 600px;
  height: inherit;
  padding-top: 5px;
  padding-left: 30px;
}

#header_row_2_col_2 {
  order: 2;
  width: auto;
  min-width: 0px;
  height: inherit;
}

#header_row_2_col_3 {
  order: 3;
  width: auto;
  min-width: 600px;
  height: inherit;
  padding-top: 5px;
  padding-right: 30px;
}

#mobile_menu_icon {
  display: none;
  width: 18px;
  height: 18px;
  margin: 1px 9px 0 9px;
}

#mobile_menu_icon div {
  width: 18px;
  height: 2px;
  background-color: #fff;
  margin-top: 4px;
}



#mobile_header_red {
  /*z-index: 3;*/
  display: block;
  width: 100%;
  min-width: 300px;
  max-width: 100%;
  height: 92px;
  padding-top: 2px;
  font-family: 'Play', sans-serif;
  background-color: #c10006;
}

#mobile_header_row_1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-width: 300px;
  max-width: 90%;
  height: 30px;
}

#mobile_header_row_2 {
  display: flex;
  /*justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;*/
  width: 100%;
  min-width: 300px;
  max-width: 90%;
  height: 30px;
  padding-left: 8px;
}

#mobile_header_row_3 {
  height: 30px;
  max-width: 90%;
}

#mobile_header_row_1_col_1 {
  order: 1;
  display: flex;
  flex-direction: row;
  /*width: 510px;
  min-width: 510px;
  max-width: 510px;
  height: inherit;*/
  height: 24px;
  min-height: 24px;
  max-height: 24px;
}
#mobile_header_row_1_col_2 {
  order: 2;
  /*width: 100%;
  min-width: 410px;
  height: inherit;
  padding-right: 42px;
  padding-left: 20px;*/
}
#mobile_header_row_1_col_3 {
  order: 3;
  /*width: 320px;
  min-width: 320px;
  max-width: 320px;
  height: inherit;*/
}

#mobile_menu_icon {
  display: block;
}



/* mobile */
@media (max-width: 599px) {
  #header_row_1_col_1 {
    display: flex;
    min-width: 300px;
    /*width: 320px;*/
    max-width: 100%;
    height: 24px;
    min-height: 24px;
  }

  #header_row_1_col_2 {
    min-width: 300px;
    max-width: 100%;
    padding: 0;
  }


  #header_row_2 {
    width: 300px;  /* come on! */
    min-width: 300px;
    max-width: 100%;
  }
}
