.headerred {
  z-index: 3;
  /*display: block;*/
  /*min-width: 1280px;*/
  min-width: 300px;
  /*width: 100%;*/
  max-width: 100vw;
  height: 92px;
  font-family: 'Play', sans-serif;
}

.header-light {
  background-color: #c10006;
}

.header-dark {
  background-color: #690004;
}

.header-row-1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-width: 900px;  /* prev 1280px */
  height: 62px;
}

.header-row-1-col-1 {
  order: 1;
  width: 510px;
  min-width: 510px;
  max-width: 510px;
  height: inherit;
  padding-left: 29px;
}

.header-row-1-col-2 {
  order: 2;
  width: 100%;
  min-width: 410px;
  height: inherit;
  padding-right: 42px;
  padding-left: 20px;
}

.header-row-1-col-3 {
  display: relative;
  order: 3;
  width: 270px;
  min-width: 270px;
  max-width: 270px;
  height: inherit;
  padding-right: 30px;
}

.header-row-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-width: 900px;  /* prev 1280px */
  height: 30px;
}

.header-row-2-col-1 {
  order: 1;
  width: auto;
  min-width: 340px;  /* prev 600px */
  height: inherit;
  padding-top: 5px;
  padding-left: 30px;
}

.header-row-2-col-2 {
  order: 2;
  width: auto;
  min-width: 0px;
  height: inherit;
}

.header-row-2-col-3 {
  order: 3;
  width: auto;
  min-width: 430px;  /* prev 600px */
  height: inherit;
  padding-top: 5px;
  padding-right: 30px;
}



/* tablet (portrait) */
@media (min-width: 600px) {

}

/* tablet (landscape)*/
@media (min-width: 900px) {

}

/* desktop */
@media (min-width: 1200px) {

}

@media (max-width: 1279px) {
  .header-row-1-col-1 {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
  }

  .header-row-1-col-3 {
    width: 210px;
    min-width: 210px;
    max-width: 210px;
  }
}