.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 320px;
  height: 32px;
  max-height: 32px;
  margin-top: 7px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #777;
  border-right-color: #aaa;
  border-bottom-color: #aaa;
  border-left-color: #777;
  padding: 0;
}

/*
Note: We use id selectors here (instead of class selectors) so that the
swapFacadeText function works. There are probably better approaches, which
would also allow using class selectors. 
*/

.search-category {
  position: relative;
  order: 1;
  display: block;
  width: auto;
  max-width: 100%;
  height: 30px;
}

.search-facade {
  position: relative;
  float: left;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #fff;
  border-right-color: #888;
  border-bottom-color: #888;
  border-left-color: #fff;
  background-image: linear-gradient(to bottom, #eee, #bbb);
}

.facade-text {
  margin-right: 21px;
  margin-left: 8px;
  line-height: 30px;
  font-size: 1.3rem;
  color: #666;
}

.facade-arrow {
  position: absolute;
  top: 12px;
  right: 7px;
}

.search-prefilters {
  position: absolute;
  left: 0;
  height: 30px;
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}

.search-prefilter {
  font-family: Arial, sans-serif;
}

.search-insert {
  position: relative;
  order: 2;
  flex: 1;
  width: 100%;
  height: 30px;
}

/*
Note: These "sui-" classnames are from @elastic/react-search-ui
We are overriding default values / setting new values to get the look we desire.
*/

.sui-search-box {
  display: flex;
  flex-direction: row;
}

.sui-search-box__wrapper {
  position: relative;
  order: 1;
  flex: 1;
  width: 100%;
  height: 30px;
}

.sui-search-box__text-input {
  width: 100%;
  height: 30px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 3px 10px 3px 0;
  -webkit-appearance: none;
  box-shadow: none;
  text-indent: 5px;
  font-family: Arial, sans-serif;
}

.header-light .sui-search-box__text-input {
  background-color: #fff;
  color: #111;
}

.header-dark .sui-search-box__text-input {
  background-color: #333;
  color: #bbb;
}

.sui-search-box__autocomplete {
  border: 1px solid #bfbfbf;
  background-color: #fff;
}

.sui-search-box__results-list {
  padding-left: 5px;
  overflow: hidden;
  list-style-type: none;
  background-color: #fff;
  color: #111;
}

.sui-search-box__results-list li {
  overflow: hidden;
  font-weight: 700;
  font-style: normal;
}

.sui-search-box__results-list li em {
  font-weight: 100;
  font-style: normal;
}

.sui-search-box__results-list li {
  height: 30px;
  background-color: #fff;
  line-height: 26px;
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  color: #111;
  cursor: pointer;
}

.sui-search-box__results-list li .sui-search-box__result-focused {
  background-color: #68abe6;
}

.sui-search-box__submit {
  order: 2;
  width: auto;
  max-width: 100%;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #ddd;
  border-right-color: #666;
  border-bottom-color: #666;
  border-left-color: #ddd;
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
  line-height: 26px;
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  color: #222;
  cursor: pointer;
}

.sui-search-box__submit:hover {
  background-image: linear-gradient(to bottom, #98c6f1, #509fe4);
}