.site-nav {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: nowrap;
  float: left;
  height: 25px;
  justify-content: center;
  list-style-type: none;
}

.site-nav__anchor {
  margin: 0 10px;
  position: relative;
}

.site-nav__link {
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 900;
  height: 24px;
  text-decoration: none;
}

.site-nav__link:hover {
  text-decoration: underline;
}