/*.new-recipe {

}*/

.new-recipe-feedback {
  color: #c10006;
  font-family: Arial;
  font-size: 14px;
  height: 31px;
  text-align: center;
  width: 100%;
}

.new-recipe-section-ownership
.new-recipe-section-recipe-type,
.new-recipe-section-cuisine,
.new-recipe-section-title,
.new-recipe-section-description,
.new-recipe-section-required-methods,
.new-recipe-section-required-equipment,
.new-recipe-section-required-ingredients,
.new-recipe-section-required-subrecipes,
.new-recipe-section-directions,
.new-recipe-section-recipe-image,
.new-recipe-section-equipment-image,
.new-recipe-section-ingredients-image,
.new-recipe-section-cooking-image {
  padding-top: 18px;
}

.new-recipe-heading-two {
  font-size: 1.7rem;
}

.new-recipe select:required {
  box-shadow: none;
}

.ownership-spans {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ownership-span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
  max-height: 32px;
  max-width: 90px;
  min-height: 32px;
  min-width: 90px;
  width: 90px;
}

.ownership-span-input {
  display: block;
  height: 13px;
  margin: 9px 0 10px 0;
  max-height: 13px;
  min-height: 13px;
  max-width: 13px;
  min-width: 13px;
  order: 1;
  width: 13px;
}

.ownership-span-label {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  height: 13px;
  margin: 9px 0 19px 4px;
  max-height: 13px;
  min-height: 13px;
  order: 2;
  width: fit-content;
}

.method-spans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 540px;
}

.method-span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
  max-height: 32px;
  max-width: 90px;
  min-height: 32px;
  min-width: 90px;
  width: 90px;
}

.method-span-input {
  display: block;
  height: 13px;
  margin: 9px 0 10px 0;
  max-height: 13px;
  max-width: 13px;
  min-height: 13px;
  min-width: 13px;
  order: 1;
  width: 13px;
}

.method-span-label {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  height: 13px;
  margin: 9px 0 10px 4px;
  max-height: 13px;
  min-height: 13px;
  order: 2;
  width: fit-content;
}

.new-recipe-title,
.new-recipe-description {
  border: 1px solid;
  border-radius: 1px;
  display: block;
  height: 31px;
  margin: 0 auto 0 auto;
  padding: 3px 7px 3px 7px;
  width: 100%;
}

.equipment-row,
.ingredient-row,
.subrecipe-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 6px;
}

.equipment-row-label,
.ingredient-row-label,
.subrecipe-row-label {
  font-size: 1.3rem;
  font-weight: 700;
  height: 23px;
  margin: 0 4px 0 18px;
  padding-top: 3px;
}

.equipment-row-select-amount {
  height: 23px;
}

.equipment-row-select-equipment-type {
  height: 23px;
}

.equipment-row-select-equipment {
  height: 23px;
}

.equipment-row-remove-row,
.ingredient-row-remove-row,
.subrecipe-row-remove-row {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 12px;
  height: 19px;
  margin-left: 18px;
  padding: 1px 2px;
}

.ingredient-row-manual-amount,
.subrecipe-row-manual-amount {
  border: 1px solid;
  border-radius: 1px;
  height: 25px;
  max-width: 70px;
  min-width: 70px;
  width: 70px;
}

.subrecipe-row-select-subrecipe {
  max-width: 233px;
  min-width: 233px;
  width: 233px;
}

.add-row {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 12px;
  padding: 1px 2px;
}

.new-recipe-directions {
  height: 102px;
  width: 100%;
}

.new-recipe-image-crop-tool-tip {
  display: block;
}

.new-recipe-image-crop-previews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.new-recipe-image-crop-full-preview,
.new-recipe-image-crop-thumb-preview,
.new-recipe-image-crop-tiny-preview {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  order: 1;
  padding: 10px;
}

.new-recipe-image-crop-full-preview img,
.new-recipe-image-crop-thumb-preview img,
.new-recipe-image-crop-tiny-preview img {
  margin-left: 5px;
}

.new-recipe .change-default {
  padding-bottom: 3px;
}

.new-recipe-image-cancel-button {
  height: 21px;
  padding: 0 6px;
}

.new-recipe-finish-area {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.new-recipe-cancel-button,
.new-recipe-submit-button {
  border: 1px solid #aaa;
  border-radius: 2px;
  color: black;
  display: block;
  font-family: 'Play', sans-serif;
  height: 30px;
  line-height: 26px;
  margin: 15px 30px 0 0;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  width: 235px;
}

.new-recipe-cancel-button {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.new-recipe-submit-button {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}



@media (max-width: 1000px) {
  .equipment-row,
  .ingredient-row,
  .subrecipe-row {
    flex-direction: column;
    width: fit-content;
  }

  .equipment-row-remove-row,
  .ingredient-row-remove-row,
  .subrecipe-row-remove-row {
    margin-top: 6px;
    width: fit-content;
  }

  .add-row {
    margin-top: 12px;
  }
}



@media (max-width: 899px) {
  .new-recipe-finish-area {
    flex-direction: column;
  }

  .new-recipe-cancel-button,
  .new-recipe-submit-button {
    margin: 15px auto 0 auto;
  }
}