/*.new-recipe {

}*/

.new-recipe__feedback {
  color: #c10006;
  font-family: Arial;
  font-size: 14px;
  height: 31px;
  text-align: center;
  width: 100%;
}

.new-recipe__required-equipment,
.new-recipe__required-ingredients,
.new-recipe__required-subrecipes,
.new-recipe__recipe-image,
.new-recipe__equipment-image,
.new-recipe__ingredients-image,
.new-recipe__cooking-image {
  padding-top: 18px;
}

.new-recipe__h2 {
  display: block;
  font-size: 1.7rem;
  padding-top: 18px;
}

/* ? */
.new-recipe select:required {
  box-shadow: none;
}

.new-recipe__ownerships {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.new-recipe__ownership {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
  max-height: 32px;
  max-width: 90px;
  min-height: 32px;
  min-width: 90px;
  width: 90px;
}

.new-recipe__ownership-input {
  display: block;
  height: 13px;
  margin: 9px 0 10px 0;
  max-height: 13px;
  min-height: 13px;
  max-width: 13px;
  min-width: 13px;
  order: 1;
  width: 13px;
}

.new-recipe__ownership-label {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  height: 13px;
  margin: 9px 0 19px 4px;
  max-height: 13px;
  min-height: 13px;
  order: 2;
  width: fit-content;
}

.new-recipe__methods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 540px;
}

.new-recipe__method {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
  max-height: 32px;
  max-width: 90px;
  min-height: 32px;
  min-width: 90px;
  width: 90px;
}

.new-recipe__method-input {
  display: block;
  height: 13px;
  margin: 9px 0 10px 0;
  max-height: 13px;
  max-width: 13px;
  min-height: 13px;
  min-width: 13px;
  order: 1;
  width: 13px;
}

.new-recipe__method-label {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  height: 13px;
  margin: 9px 0 10px 4px;
  max-height: 13px;
  min-height: 13px;
  order: 2;
  width: fit-content;
}

.new-recipe__title,
.new-recipe__description {
  border: 1px solid;
  border-radius: 1px;
  display: block;
  height: 31px;
  margin: 0 auto 0 auto;
  padding: 3px 7px 3px 7px;
  width: 100%;
}

.equipment-row,
.ingredient-row,
.subrecipe-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 6px;
}

.equipment-row-label,
.ingredient-row-label,
.subrecipe-row-label {
  font-size: 1.3rem;
  font-weight: 700;
  height: 23px;
  margin: 0 4px 0 18px;
  padding-top: 3px;
}

.equipment-row-select-amount,
.equipment-row-select-equipment,
.equipment-row-select-equipment-type {
  height: 23px;
}

.new-recipe__remove-row-button {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 12px;
  height: 19px;
  margin-left: 18px;
  padding: 1px 2px;
}

.ingredient-row-manual-amount,
.subrecipe-row-manual-amount {
  border: 1px solid;
  border-radius: 1px;
  height: 25px;
  max-width: 70px;
  min-width: 70px;
  width: 70px;
}

.subrecipe-row-select-subrecipe {
  max-width: 233px;
  min-width: 233px;
  width: 233px;
}

.new-recipe__add-row-button {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 12px;
  padding: 1px 2px;
}

.new-recipe__directions {
  height: 102px;
  width: 100%;
}

.new-recipe__crop-tool-tip {
  display: block;
}

.new-recipe__crops {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.new-recipe__crop-full-outer,
.new-recipe__crop-thumb-outer,
.new-recipe__crop-tiny-outer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  order: 1;
  padding: 10px;
}

.new-recipe__crop-full,
.new-recipe__crop-thumb,
.new-recipe__crop-tiny {
  margin-left: 5px;
}

.new-recipe__h4 {
  padding-bottom: 3px;
}

.new-recipe__image-cancel-button {
  height: 21px;
  padding: 0 6px;
}

.new-recipe__finish-area {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.new-recipe__cancel-button,
.new-recipe__submit-button {
  border: 1px solid #aaa;
  border-radius: 2px;
  color: black;
  display: block;
  font-family: 'Play', sans-serif;
  height: 30px;
  line-height: 26px;
  margin: 15px 30px 0 0;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  width: 235px;
}

.new-recipe__cancel-button {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.new-recipe__submit-button {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}

@media (max-width: 1000px) {
  .equipment-row,
  .ingredient-row,
  .subrecipe-row {
    flex-direction: column;
    width: fit-content;
  }

  .new-recipe__remove-row-button {
    margin-top: 6px;
    width: fit-content;
  }

  .new-recipe__add-row-button {
    margin-top: 12px;
  }
}

@media (max-width: 899px) {
  .new-recipe__finish-area {
    flex-direction: column;
  }

  .new-recipe__cancel-button,
  .new-recipe__submit-button {
    margin: 15px auto 0 auto;
  }
}