.demo-only-notice {
  background-color: #d5fdd5;
}

.dashboard {
  font-family: 'Play', sans-serif;
}

.dashboard-menu-tab {
  background: inherit;
  font-family: 'Play', sans-serif;
}

.light.dashboard-menu-tab {
  border: 1px solid #bfbfbf;
}

.dark.dashboard-menu-tab {
  border: 1px solid #bfbfbf;
}