#mobile-left-nav {
  position: absolute;
  left: 0px;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  padding: 10px 10px;
  background-color: #fff;
}

#mobile-left-nav span {
  display: block;
  margin-bottom: 12px;
}

#mobile-left-nav hr {
  height: 1px;
  border: 0 none;
  margin-bottom: 5px;
  background-color: #bfbfbf;
}

#mobile-left-nav .styled_nav_link {
  text-decoration: none;
  color: #000;
}



@media (min-width: 900px) {
  #mobile-left-nav {
    display: none;
  }
}
