.footergray {
  min-width: 300px;
  max-width: 100%;
  height: 92px;
  font-family: 'Arial', sans-serif;
}

.footergray ul {
  display: table;
  margin: 35px auto 0 auto;
  list-style-type: none;
}

.footergray li {
  display: inline;
  margin: 2px 10px;
}

.footergray p {
  display: block;
  margin-top: 12px;
  margin-bottom: 18px;
  text-align: center;
  font-size: 11px;
}

.dark p {
  color: #888;
}

.footergray .styled_nav_link {
  text-decoration: none;
  font-size: 12px;
  color: #68abe6;
}

.footergray a:link,
.footergray a:visited {
  color: #68abe6;
  text-decoration: none;    
}

.footergray a:hover,
.footergray a:active {
  text-decoration: underline;
}

.footer-light {
  background-color: #666;
}

.footer-light a:hover {
  color: #c10006;
}

.footer-dark {
  background-color: #333;
}

.footer-dark a:hover {
  color: #690004;
}



/* mobile */
@media (max-width: 899px) {
  .footergray {
    min-width: 300px;
    max-width: 100vw;
    min-height: 237px;
    background-color: #444;
  }

  .footergray ul {
    display: block;
    margin: 0 auto;
    padding-left: 10px;
  }

  .footergray li {
    display: block;
    margin: 20px 2px;
  }
}