.footer-light {
  background-color: #666;
}

.footer-dark {
  background-color: #333;
}

.dark p {
  color: #888;
}

.footer_gray {
  width: 100%;
  min-width: 1280px;
  height: 92px;
  font-family: 'Arial', sans-serif;
}

.footer_gray ul {
  display: table;
  margin: 35px auto 0 auto;
  list-style-type: none;
}

.footer_gray li {
  display: inline;
  margin: 2px 10px;
}

.footer_gray p {
  display: block;
  margin-top: 12px;
  margin-bottom: 18px;
  text-align: center;
  font-size: 11px;
}

.footer_gray .styled_nav_link {
  text-decoration: none;
  font-size: 12px;
  color: #68abe6;
}



/* mobile */
@media (max-width: 899px) {
  .footer_gray {
    min-width: 300px;
    max-width: 100vw;
    min-height: 237px;
    background-color: #444;
  }

  .footer_gray ul {
    display: block;
    margin: 0 auto;
    padding-left: 10px;
  }

  .footer_gray li {
    display: block;
    margin: 20px 2px;
  }
}