.planner_recipe {
  background-color: #FFF3CC;
  width: 90%;
  min-width: 100px;
  max-width: 200px;
  height: 32px;
  padding: 3px auto 3px auto;
  border: 1px solid #FFDEC3;
  margin: 6px 1px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 11px;
  overflow: hidden;
  box-shadow: 1px 1px 1px #999;
  cursor: move;
}
