/*

desktop

*/

@media (min-width: 900px) {
  /*#messenger-page {
    width: 1200px;
    min-height: fit-content;
  }*/

  .mobile {
    /* ??? */
    display: none;
  }

  .desktop {
    display: block;
  }
}

/*

mobile

*/

@media (max-width: 899px) {
  #messenger-page {
    max-width: 100%;
    min-width: 300px;
  }

  .mobile {
    display: block;
  }
  
  .desktop {
    display: none;
  }
}