/*.new-ingredient {
  width: 1000px;
}*/

.new-ingredient .error-message {
  width: 100%;
  height: 31px;
  color: #c10006;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
}

.new-ingredient__heading-two {
  font-size: 1.7rem;
}

.new-ingredient__name {
  display: block;
  width: 100%;
  height: 31px;
  margin: 0 auto 0 auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  padding: 3px 7px 3px 7px;
}

.new-ingredient__description {
  width: 100%;
}

.new-ingredient__cancel-button {
  display: inline-block;
  width: 235px;
  height: 30px;
  margin-right: 30px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  line-height: 26px;
  color: black;
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.new-ingredient__submit-button {
  display: inline-block;
  width: 235px;
  height: 30px;
  margin-right: 30px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  line-height: 26px;
  font-family: 'Play', sans-serif;
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}