.nav-grid-a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 280px;
}

.nav-grid-a-item {
  border: 1px solid;
  border-radius: 2px;
  display: inline-block;
  height: 188px;
  margin: 5px auto;
  padding: 18px 10px;
  width: 268px;
}

.nav-grid-a-item-text {
  display: block;
  font-size: 15px;
  font-weight: 900;
  margin: 0 auto;
  padding-bottom: 12px;
  text-align: center;
  width: 160px;
}

.nav-grid-a-item-image {
  display: block;
  margin: auto;
  width: 120px;
}

.nav-grid-a a:link,
.nav-grid-a a:visited {
  color: #68abe6;
  text-decoration: none;    
}

.nav-grid-a a:hover,
.nav-grid-a a:active {
  text-decoration: underline;
}

/*

light

*/

.nav-grid-a-light {
  background-color: #fff;
  color: #000;
}

.nav-grid-a-light .nav-grid-a-item {
  border-color: #ddd;
}

.nav-grid-a-light a:hover {
  color: #c10006;
}

/*

dark

*/

.nav-grid-a-dark {
  background-color: #222;
  color: #aaa;
}

.nav-grid-a-dark .nav-grid-a-item {
  border-color: #333;
}

.nav-grid-a-dark a:hover {
  color: #690004;
}