.one-column-a {
  display: block;
  min-width: 300px;  /* ? */
  max-width: 1200px;  /* ? */
  margin: 20px auto 0px auto;
  padding: 10px 10px;
}

/*

light

*/

.one-column-a-light {
  background-color: #fff;
  color: #000;
}

.one-column-a-light .image-default-280-172,
.one-column-a-light .image-default-100-62,
.one-column-a-light .image-default-28-18 {
  background-color: #c10006;
}

.one-column-a-light label {
  color: #777;
}

.one-column-a-light select,
.one-column-a-light input,
.one-column-a-light textarea {
  border-color: #bbb;
  background-color: #fff;
  color: #000;
}

.one-column-a-light option {
  background-color: #fff;
  color: #000;
}

.one-column-a-light .expand-collapse {
  background-color: #d5fdd5;
}

.one-column-a-light .expand-collapse-heading {
  color: #777;
}

.one-column-a-light .profile-list-item {
  border-color: #ddd;
}

.one-column-a-light .profile-list-item:nth-child(even) {
  background-color: #eee;
}

.one-column-a-light .profile-list-item-name a:hover {
  color: #c10006;
}

/*

dark

*/

.one-column-a-dark {
  background-color: #222;
  color: #aaa;
}

.one-column-a-dark .image-default-280-172,
.one-column-a-dark .image-default-100-62,
.one-column-a-dark .image-default-28-18 {
  background-color: #690004;
}

.one-column-a-dark .ownership-span-label,
.one-column-a-dark .method-span-label,
.one-column-a-dark label {
  color: #999;
}

.one-column-a-dark .equipment_row:nth-child(even),
.one-column-a-dark .ingredient_row:nth-child(even),
.one-column-a-dark .subrecipe_row:nth-child(even) {
  background-color: #2d2d2d;
}

.one-column-a-dark select,
.one-column-a-dark input,
.one-column-a-dark textarea {
  border-color: #666;
  background-color: #1e1e1e;
  color: #bbb;
}

.one-column-a-dark option {
  background-color: #1e1e1e;
  color: #bbb;
}

.one-column-a-dark .expand-collapse {
  background-color: #507ea7;
  color: #000;
}

.one-column-a-dark .expand-collapse-heading {
  color: #ccc;
}

.one-column-a-dark .profile-list-item {
  border-color: #3a3a3a;
}

.one-column-a-dark .profile-list-item:nth-child(even) {
  background-color: #2d2d2d;
}

.one-column-a-dark .profile-list-item-name a:hover {
  color: #690004;
}