.table-a {
  border-collapse: collapse;
  margin: 0 auto 0 auto;
  max-width: 100%;
  min-width: 280px;
}

.table-a th {
  padding: 1px 2px 2px 2px;
  text-align: left;
}

.table-a td {
  border-style: solid;
  border-width: 1px;
  padding: 1px 2px 2px 2px;
}

.table-a td a {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.table-a td a img {
  display: block;
  margin: 0 auto;
}

/* TO DO: change all this to flex */

tbody td:nth-child(1),
thead th:nth-child(1) {
  width: 113px;
}

tbody td:nth-child(2),
thead th:nth-child(2) {
  width: 178px;
}

tbody td:nth-child(3),
thead th:nth-child(3) {
  text-align: left;
  width: 526px;
}

.table-a-light td {
  border-color: #ddd;
}

.table-a-light tbody tr:nth-child(even) {
  background-color: #eee;
}

.table-a-dark td {
  border-color: #3a3a3a;
}

.table-a-dark tbody tr:nth-child(even) {
  background-color: #2d2d2d;
}