.two-column-a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  /*width: 1200px;*/
  min-width: 300px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.two-column-a section {
  order: 2;
  /*flex: 1 1 auto;*/
  min-width: 300px;
  max-width: 960px;  /*980? 970?*/
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px 10px;
  overflow: auto;
  background-color: #fff;
}

.two-column-a-light section {
  background-color: #fff;
  color: #000;
}

.two-column-a-light #monthly_plan #thead,
.two-column-a-light #monthly_plan .th {
  background-color: #b1d7f9;
  color: #000;
}

.two-column-a-light #monthly_plan #tbody {
  border: 1px solid #b1d7f9;
  background-color: #b1d7f9;
}

.two-column-a-light .planner_day_white {
  background-color: #fff;
}

.two-column-a-light .planner_day_green {
  background-color: #d6ffd6;
}

.two-column-a-light .the_date {
  color: #afafaf;
}

.two-column-a-light #expanded_day_area {
  border: 1px solid #fff;
}

.two-column-a-light .planner_expanded_day {
  background-color: #fff;
  border: 1px solid #bfbfbf;
  box-shadow: 1px 1px 1px #555;
}

.two-column-a-light #planner_recipes_list {
  border: 1px solid #bfbfbf;
}

.two-column-a-light .planner_recipe {
  background-color: #fff3cc;
  border: 1px solid #ffdec3;
  box-shadow: 1px 1px 1px #999;
  color: #000;
}

.two-column-a-dark section {
  background-color: #222;
  color: #aaa;
}

.two-column-a-dark #monthly_plan #thead,
.two-column-a-dark #monthly_plan .th {
  background-color: #507ea7;
  color: #bbb;
}

.two-column-a-dark #monthly_plan #tbody {
  border: 1px solid #507ea7;
  background-color: #507ea7;
}

.two-column-a-dark .planner_day_white {
  background-color: #222;
}

.two-column-a-dark .planner_day_green {
  background-color: #3d6d3d;
}

.two-column-a-dark .the_date {
  color: #666;
}

.two-column-a-dark #expanded_day_area {
  border: 1px solid #222;
}

.two-column-a-dark .planner_expanded_day {
  background-color: #222;
  border: 1px solid #5a5a5a;
  box-shadow: 1px 1px 1px #131313;
}

.two-column-a-dark #planner_recipes_list {
  border: 1px solid #5a5a5a;
}

.two-column-a-dark .planner_recipe {
  background-color: #afae8f;
  border: 1px solid #826e52;
  box-shadow: 1px 1px 1px #131313;
  color: #000;
}

.two-column-a-dark .demo-only-notice {
  background-color: #507ea7;
  color: #000;
}