/*.new-plan {

}*/

.new-plan__feedback {
  display: block;
  width: 100%;
  height: 31px;
  color: #c10006;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
}

.new-plan__hr {
  width: 100%;
  height: 1px;
  border: 0 none;
  margin-bottom: 10px;
}

.new-plan__name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 10px;
}

.new-plan__name-label {
  order: 1;
  display: block;
  margin-right: 5px;
  line-height: 30px;
  font-size: 1.3rem;
  font-weight: 900;
}

.new-plan__name-input {
  order: 2;
  display: block;
  width: 685px;
  height: 31px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  padding: 3px 7px 3px 7px;
}

.new-plan__calendar-container {
  width: 100%;
  height: 480px;
  margin: 0 auto 0 auto;
}

.new-plan__monthly-plan {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.monthly-plan {
  order: 1;
  width: 756px;
  height: 321px;
  max-height: 321px;
}

.monthly-plan__header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  width: 100%;
  height: 20px;
}

.monthly-plan__header-day {
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.monthly-plan__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  width: 100%;
  min-height: 300px;
  height: 300px;
  max-height: 300px;
}

.monthly-plan__body-day {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* :after? */
.monthly-plan__body-day:before {
  content: "";
  height: 0;
  display: inline-block;
  padding-top: 100%;
  width: 1px;
  position: relative;
}

.body-day__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  justify-items: start;
  align-items: end;
}





.the_date {
  position: absolute;
  top: 0;
  right: 0;
  width: content;
  height: content;
  padding-top: 1px;
  padding-right: 3px;
  user-select: none;
  color: #afafaf;
}

.planner_day_collapsed {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  padding-top: 18px;
  padding-left: 3px;
  background: #fff;
  overflow: hidden;
  cursor: hand;
  cursor: pointer;
  transform: none;
}

.planner_expanded_day {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  padding-top: 18px;
  padding-left: 6px;
  background: #fff;
  border: 1px solid #bfbfbf;
  overflow: hidden;
  cursor: hand;
  cursor: pointer;
  box-shadow: 1px 1px 1px #555;
}

.planner_day_green {
  background: #d6ffd6;
}

.planner_day_white {
  background: #fff;
}





.expanded-day-container {
  order: 2;
  width: 150px;
  height: 319px;
  margin-top: 1px;
  margin-left: 10px;
  border: 1px solid #fff;
}

.planner-recipes-list-tabs {
  width: 755px;
  margin-top: 10px;
  border-bottom: 2px solid #6cabe4;
}

.planner-recipes-list-tab {
  width: 151px;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #ddd;
  border-right-color: #666;
  border-bottom-color: #666;
  border-left-color: #ddd;
  /*line-height: 26px;*/
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
  color: #222;
  cursor: pointer;
}

.planner-recipes-list-tab.active {
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
}

.planner-recipes-list-tab.inactive {
  background-image: linear-gradient(to bottom, #eee, #bbb);
}

.planner-finish-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.planner-cancel-button,
.planner-cancel-cancel-button,
.planner-submit-button {
  display: block;
  width: 235px;
  height: 30px;
  margin-right: 30px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  color: black;
  cursor: pointer;
}

.planner-cancel-button {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.planner-submit-button {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}

.planner-cancel-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-self: center;*/
  width: 280px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
}

.planner-cancel-modal .planner-cancel-cancel-button,
.planner-cancel-modal .planner-cancel-button {
  margin: 0 auto;
}

.planner-cancel-prompt {
  margin-bottom: 10px;
  text-align: center;
}



@media (max-width: 1209px) {
  .planner-finish-area {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .planner-cancel-button,
  .planner-submit-button {
    display: block;
    width: 235px;
    margin: 15px auto 0 auto;
  }


}

