.home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-width: 1280px;
  margin: 25px auto 0px auto;
  padding-top: 10px;
}