.mobile-header-red {
  /*z-index: 3;
  display: block;*/
  width: 100%;
  min-width: 300px;
  max-width: 100%;  /* 100vw */
  height: 92px;
  padding-top: 7px;
  font-family: 'Play', sans-serif;
  background-color: #c10006;
}

.header-light {
  background-color: #c10006;
}

.header-dark {
  background-color: #690004;
}

.mobile-header-row-1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-width: 300px;
  max-width: 96%;
  height: 40px;
  margin: 0 auto;
}

.mobile-header-row-2 {
  display: flex;
  width: 100%;
  min-width: 300px;
  max-width: 96%;
  height: 45px;
  /*padding-left: 8px;*/
  margin: 0 auto;
}

.mobile-header-row-1-col-1 {
  order: 1;
  display: flex;
  flex-direction: row;
  height: 24px;
  min-height: 24px;
  max-height: 24px;
}

.mobile-header-row-1-col-2 {
  order: 2;
}

.mobile-header-row-1-col-3 {
  order: 3;
}

#mobile_menu_icon {
  display: block;
}
