/*.messenger {

}*/

.messenger .error-message {
  width: 100%;
  height: 31px;
  color: #c10006;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
}

.messenger-room {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 42px;
  border-top: 10px solid #ddd;
  border-right: 9px solid #ddd;
  border-left: 10px solid #ddd;
  background: #fff;
}

.messenger-connect-disconnect-container {
  order: 1;
  border-bottom: 2px solid #6cabe4;
}

.messenger-connect-disconnect,
.messenger-channel-button {
  width: 85px;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #ddd;
  border-right-color: #666;
  border-bottom-color: #666;
  border-left-color: #ddd;
  line-height: 26px;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
  color: #222;
  background-image: linear-gradient(to bottom, #eee, #bbb);
  cursor: pointer;
}

.messenger-channel-switch {
  order: 2;
  display: block;
  height: 32px;
  padding-right: 10px;
  padding-left: 200px;
  font-size: 13px;
  line-height: 30px;
}

.messenger-channel-current {
  order: 3;
  width: 85px;
  max-width: 85px;
  border: 2px solid;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 13px;
  line-height: 30px;
  overflow: hidden;
}

.messenger-channel-label {
  order: 4;
  display: block;
  height: 32px;
  padding-right: 10px;
  padding-left: 191px;
  font-size: 13px;
  line-height: 30px;
}
.messenger-channel-input {
  order: 5;
  width: 85px;
  border: 2px solid #68abe6;
  padding-left: 7px;
  font-family: 'Play', sans-serif;
  /*color: #292929;
  background: #fff;*/
}

.messenger-channel-input:focus {
  outline: none;
  border: 2px solid #87c6fd;
}

.messenger-channel-button-container {
  order: 6;
  border-bottom: 2px solid #6cabe4;
}

/*.messenger-room span {
  display: inline;
  line-height: 30px;
  padding: 5px;
  color: #292929;
  background: #fff;
}*/

.messenger-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 0;
}

.messenger-chat {
  order: 1;
  position: relative;  /* ? */
  /*min-width: 720px;
  max-width: 720px;*/
  width: 750px;
  height: 450px;
  padding: 10px;
  border: 10px solid;
  color: #292929;  /* ? */
}

.messenger-chat-messages p {
  padding-bottom: 3px;
}

.messenger-chat-messages {
  display: block;
  height: calc(100% - 40px);
  list-style-type: none;
  overflow-y: scroll;
}

.messenger-chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 10px solid;
}

.messenger-chat-input input {
  width: 100%;
  height: 30px;
  border: 2px solid #68abe6;
  padding-left: 7px;
  color: #292929;
  background: #fff;
}

.messenger-chat-input input:focus {
  outline: none;
  border: 2px solid #87c6fd;
}

.messenger-people {
  order: 2;
  width: 180px;
  height: 450px;
  border-top: 10px solid #ddd;
  border-right: 10px solid #ddd;
  border-bottom: 10px solid #ddd;
}

.messenger-people-tabs {
  border-bottom: 2px solid #6cabe4;
}

.messenger-people-tab {
  display: inline-block;
  width: 85px;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #ddd;
  border-right-color: #666;
  border-bottom-color: #666;
  border-left-color: #ddd;
  line-height: 26px;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
  color: #222;
  background-image: linear-gradient(to bottom, #eee, #bbb);
  cursor: pointer;
}

.messenger-people-tab.chat-nav-current {
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
}



.messenger-users-in-room {
  display: block;
  width: 100%;
  height: calc(100% - 32px);
  overflow-y: scroll;
}

.messenger-user-in-room  {
  display: flex;
  flex-direction: row;
  height: 30px;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #fff;
  border-right-color: #b3b3b3;
  border-bottom-color: #b3b3b3;
  border-left-color: #fff;
  margin: 3px;
  list-style-type: none;
  color: #292929;
  background: #eaeaea;
}

.messenger-friends {
  display: block;
  width: 100%;
  height: calc(100% - 32px);
  overflow-y: scroll;
  border: none;
}

.messenger-friend {
  display: flex;
  flex-direction: row;
  height: 30px;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #fff;
  border-right-color: #b3b3b3;
  border-bottom-color: #b3b3b3;
  border-left-color: #fff;
  margin: 3px;
  list-style-type: none;
  color: #292929;
  background: #eaeaea;
}

/*.messenger-friends li img {
  order: 1;
}

.messenger-friends li span {
  order: 2;
  height: 25px;
  line-height: 35px;
  margin-left: 8px;
  border: 1px solid #eaeaea;
  line-height: 30px;
}*/



.chat-nav span {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-family: Arial;
  color: #292929;
  background: #bfbfbf;
}

.chat-display-admin {
  font-style: italic;
  color: #c10006;
}

.chat-display-username-self {
  color: #009fff;
}

.chat-display-username-other {
  color: #0029ff;
}
