.demo-only-notice {
  background-color: #d5fdd5;
}

.messenger-room {
  width: 100%;
  border-top: 10px solid #ddd;
  border-right: 10px solid #ddd;
  border-left: 10px solid #ddd;
  background: #fff;
}

.messenger-room button {
  display: inline-block;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #ddd;
  border-right-color: #666;
  border-bottom-color: #666;
  border-left-color: #ddd;
  background-image: linear-gradient(to bottom, #fff, #cecece);
  cursor: pointer;
}

.messenger-room span {
  display: inline;
  line-height: 30px;
  padding: 5px;
  color: #292929;
  background: #fff;
}

.messenger-main {
  display: flex;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 0;
}

.messenger-chat,
.messenger-friends {
  height: 403px;
  background: #fff;
}

.messenger-chat {
  position: relative;
  min-width: 720px;
  max-width: 720px;
  padding: 10px;
  border: 10px solid #ddd;
  order: 1;
  color: #292929;
}

.messenger-chat-messages p {
  padding-bottom: 3px;
}

.messenger-chat-messages {
  list-style-type: none;
}

.messenger-chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 10px solid #ddd;
}

.messenger-chat-input input {
  width: 100%;
  height: 30px;
  border: 2px solid #68abe6;
  padding-left: 7px;
  color: #292929;
  background: #fff;
}

.messenger-chat-input input:focus {
  outline: none;
  border: 2px solid #87c6fd;
}

.messenger-friends {
  width: 100%;
  order: 2;
  border-top: 10px solid #ddd;
  border-right: 10px solid #ddd;
  border-bottom: 10px solid #ddd;
}

.messenger-friends ul {
  width: 100%;
  background: #fff;
}

.messenger-friends li {
  display: flex;
  flex-direction: row;
  height: 30px;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #fff;
  border-right-color: #b3b3b3;
  border-bottom-color: #b3b3b3;
  border-left-color: #fff;
  margin: 3px;
  list-style-type: none;
  color: #292929;
  background: #eaeaea;
}

.messenger-friends li img {
  order: 1;
}

.messenger-friends li span {
  order: 2;
  height: 25px;
  line-height: 35px;
  margin-left: 8px;
  border: 1px solid #eaeaea;
  line-height: 30px;
}

.chat-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chat-nav span {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-family: Arial;
  color: #292929;
  background: #bfbfbf;
}

.chat-nav .chat-nav-current {
  background: #fff;
}

.chat-display-admin {
  font-style: italic;
  color: #c10006;
}

.chat-display-username-self {
  color: #009fff;
}

.chat-display-username-other {
  color: #0029ff;
}
