.register {
  display: block;
  min-width: 300px;
  max-width: 100%;
  font-family: 'Play', sans-serif;  /* move */
  font-size: 13px;  /* move */
}

.auth-img-link {
  display: block;
  margin: 0 auto;
  max-width: content;
}

.auth-img-desktop {
  display: block;
  margin: 0 auto;
}

.auth-img-mobile {
  display: none;
  margin: 0 auto;
}

.register-form {
  display: block;
  width: 320px;
  margin: 20px auto;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 4px;
  padding: 14px 18px;
}

.register-heading {
  display: block;
  margin-bottom: 14px;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
}

.register-feedback {
  width: 100%;
  height: 31px;
  color: #c10006;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
}

.register-label {
  display: block;
  margin: 14px auto 4px auto;
  font-size: 13px;
  font-weight: 700;
}

.register-input {
  display: block;
  width: 100%;
  height: 31px;
  margin: 0 auto 0 auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #aaa;
  padding: 3px 7px 3px 7px;
}

.create-account-button,
.verify-confirmation-code-button {
  width: 100%;
  height: 31px;
  margin: 18px auto 24px auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-top-color: #999;
  border-right-color: #777;
  border-bottom-color: #555;
  border-left-color: #777;
  padding-top: 1px;
  font-family: 'Play', sans-serif;
  font-size: 14px;
  color: black;
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
  cursor: pointer;
  cursor: hand;
}

.create-account-button:hover,
.create-account-button:active,
.verify-confirmation-code-button:hover,
.verify-confirmation-code-button:active {
  background-image: linear-gradient(to bottom, #8cbeec, #4493d8);
}

.register-links {
  display: table;
  margin: 18px auto 0 auto;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}

.register-link {
  display: inline-block;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 2px;
  margin-left: 6px;
}

.register-link a {
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.register-link a:link,
.register-link a:visited {
  color: #68abe6;
}

.register-link a:hover,
.register-link a:active {
  color: #c10006;
  text-decoration: underline;
}

.register-copyright {
  margin-top: 12px;
  margin-bottom: 18px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 11px;
}

@media (max-width: 899px) {
  .auth-img-desktop {
    display: none;
    margin: 0 auto;
  }

  .auth-img-mobile {
    display: block;
    margin: 0 auto;
  }

  .register-form {
    width: 280px;
  }
}