.site-nav {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  float: left;
  list-style-type: none;
  height: 25px;
}

.site-nav li {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.site-nav-link {
  display: block;
  height: 24px;
  font-size: 14px;
  font-weight: 900;
  text-decoration: none;
  color: #fff;
}

.site-nav-link:hover {
  text-decoration: underline;
}