.footer {
  font-family: 'Arial', sans-serif;
  height: 92px;
  max-width: calc(100vw - (100vw - 100%));;
  min-width: 300px;
}

.footer ul {
  display: table;
  list-style-type: none;
  margin: 35px auto 0 auto;
}

.footer li {
  display: inline;
  margin: 2px 10px;
}

.footer p {
  display: block;
  font-size: 11px;
  margin: 12px 0 18px 0;
  text-align: center;
}

.dark p {
  color: #888;
}

.footer .styled_nav_link {
  color: #68abe6;
  font-size: 12px;
  text-decoration: none;
}

.footer a:link,
.footer a:visited {
  color: #68abe6;
  text-decoration: none;    
}

.footer a:active,
.footer a:hover {
  text-decoration: underline;
}

/*

light

*/

.footer-light {
  background-color: #666;
}

.footer-light a:hover {
  color: #c10006;
}

/*

dark

*/

.footer-dark {
  background-color: #333;
}

.footer-dark a:hover {
  color: #690004;
}

/*

mobile

*/

@media (max-width: 899px) {
  .footer {
    background-color: #444;
    max-width: 100vw;
    min-height: 237px;
    min-width: 300px;
  }

  .footer ul {
    display: block;
    margin: 0 auto;
    padding-left: 10px;
  }

  .footer li {
    display: block;
    margin: 20px 2px;
  }
}