/*.new-plan {

}*/

.new-plan__feedback {
  color: #c10006;
  display: block;
  font-family: Arial;
  font-size: 14px;
  height: 31px;
  text-align: center;
  width: 100%;
}

.new-plan__hr {
  border: 0 none;
  height: 1px;
  margin-bottom: 10px;
  width: 100%;
}

.new-plan__name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  width: 100%;
}

.new-plan__name-label {
  display: block;
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 30px;
  margin-right: 5px;
  order: 1;
}

.new-plan__name-input {
  border: 1px solid;
  border-radius: 1px;
  display: block;
  height: 31px;
  order: 2;
  padding: 3px 7px 3px 7px;
  width: 685px;
}

.new-plan__calendar-container {
  height: 480px;
  margin: 0 auto;
  width: 100%;
}

.new-plan__monthly-plan {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.monthly-plan {
  height: 321px;
  max-height: 321px;
  order: 1;
  width: 756px;
}

.monthly-plan__body,
.monthly-plan__header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  width: 100%;
}

.monthly-plan__header {
  height: 20px;
}

.monthly-plan__header-day {
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.monthly-plan__body {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
}

.monthly-plan__body-day {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* :after? */
.monthly-plan__body-day:before {
  content: "";
  display: inline-block;
  height: 0;
  padding-top: 100%;
  position: relative;
  width: 1px;
}

.body-day__content {
  align-items: end;
  bottom: 0;
  display: grid;
  justify-items: start;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.planner__date {
  color: #afafaf;
  height: content;
  padding: 1px 3px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
  width: content;
}

.planner__day,
.planner__expanded-day {
  background: #fff;
  cursor: hand;
  cursor: pointer;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  padding-top: 18px;
  position: relative;
  transform: none;
}

.planner__day {
  padding-left: 3px;
  transform: none;
}

.planner__expanded-day {
  border: 1px solid #bfbfbf;
  box-shadow: 1px 1px 1px #555;
  padding-left: 6px;
}

.planner__day--green,
.planner__expanded-day--green {
  background: #d6ffd6;
}

.planner__day--white,
.planner__expanded-day--white {
  background: #fff;
}

.expanded-day-container {
  border: 1px solid #fff;
  height: 319px;
  margin: 1px 0 0 10px;
  order: 2;
  width: 150px;
}

.planner__recipes {
  border: 1px solid #bfbfbf;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 125px;
  justify-content: space-around;
  overflow-y: scroll;
  padding: 6px;
  width: 756px;
}

.planner__recipes .planner__recipe {
  display: inline-block;
  margin: 6px 1px;
}

.planner__recipes-tabs {
  border-bottom: 2px solid #6cabe4;
  margin-top: 10px;
  width: 755px;
}

.planner__recipes-tab {
  background-image: linear-gradient(to bottom, #eee, #bbb);
  border: 1px solid;
  border-color: #ddd #666 #666 #ddd;
  border-radius: 1px;
  color: #222;
  cursor: pointer;
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
  height: 30px;
  padding: 0 8px;
  width: 151px;
}

.planner__recipes-tab--active {
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
}

.planner__recipe {
  align-content: center;
  background-color: #FFF3CC;
  border: 1px solid #FFDEC3;
  box-shadow: 1px 1px 1px #999;
  cursor: move;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Arial, sans-serif;
  font-size: 11px;
  height: 27px;
  margin: 6px 1px;
  max-width: 200px;
  min-width: 100px;
  overflow: hidden;
  text-align: center;
  width: 90%;
}

.planner__recipe-image {
  margin: 1px 0 0 1px;
}

.planner__recipe-text {
  font-family: Arial, sans-serif;
  font-size: 11px;
  text-align: center;
  width: 100%;
}





.planner-finish-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.planner-cancel-button,
.planner-cancel-cancel-button,
.planner-submit-button {
  border: 1px solid #aaa;
  border-radius: 2px;
  color: black;
  cursor: pointer;
  display: block;
  font-family: 'Play', sans-serif;
  height: 30px;
  line-height: 26px;
  margin-right: 30px;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  width: 235px;
}

.planner-cancel-button {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.planner-submit-button {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}

.planner-cancel-modal {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 280px;
}

.planner-cancel-modal .planner-cancel-cancel-button,
.planner-cancel-modal .planner-cancel-button {
  margin: 0 auto;
}

.planner-cancel-prompt {
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 1209px) {
  .planner-finish-area {
    padding: 10px 0;
  }

  .planner-cancel-button,
  .planner-submit-button {
    display: block;
    margin: 15px auto 0 auto;
    width: 235px;
  }


}

