/*.messenger {

}*/

.messenger-feedback {
  width: 100%;
  height: 31px;
  color: #c10006;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
}

.messenger-room {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 42px;
  border-top: 10px solid;
  border-right: 9px solid;
  border-left: 10px solid;
}

.messenger-connect-disconnect-outer {
  order: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
}

.messenger-connect-disconnect-container {
  display: block;
  border-bottom: 2px solid #6cabe4;
}

.messenger-connect-disconnect,
.messenger-channel-button {
  display: block;
  width: 85px;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #ddd;
  border-right-color: #666;
  border-bottom-color: #666;
  border-left-color: #ddd;
  line-height: 26px;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
  color: #222;
  background-image: linear-gradient(to bottom, #eee, #bbb);
  cursor: pointer;
}

.messenger-connect-disconnect-mobile-spacer {
  display: block;
  width: 0px;
  height: 32px;
}

.messenger-current-container {
  order: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
}

.messenger-channel-switch {
  height: 32px;
  padding-right: 10px;
  padding-left: 200px;
  font-size: 13px;
  line-height: 30px;
}

.messenger-channel-current {
  width: 85px;
  max-width: 85px;
  border: 2px solid;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 13px;
  line-height: 30px;
  overflow: hidden;
}

.messenger-go-container {
  order: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
}

.messenger-channel-label {
  height: 32px;
  padding-right: 10px;
  padding-left: 191px;
  font-size: 13px;
  line-height: 30px;
}
.messenger-channel-input {
  width: 85px;
  height: 32px;
  border: 2px solid #68abe6;
  padding-left: 7px;
  font-family: 'Play', sans-serif;
  /*color: #292929;
  background: #fff;*/
}

.messenger-channel-input:focus {
  outline: none;
  border: 2px solid #87c6fd;
}

.messenger-channel-button-container {
  border-bottom: 2px solid #6cabe4;
}

.messenger-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 0;
}

.messenger-chat {
  order: 1;
  position: relative;  /* ? */
  width: 750px;
  height: 450px;
  padding: 10px;
  border: 10px solid;
  /*color: #292929; ? */
}

.messenger-chat-messages p {
  padding-bottom: 3px;
}

.messenger-chat-messages {
  display: block;
  height: calc(100% - 40px);
  list-style-type: none;
  overflow-y: scroll;
}

.messenger-chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 10px solid;
}

.messenger-chat-input input {
  width: 100%;
  height: 30px;
  border: 2px solid #68abe6;
  padding-left: 7px;
  /*color: #292929;
  background: #fff;*/
}

.messenger-chat-input input:focus {
  outline: none;
  border: 2px solid #87c6fd;
}

.messenger-people {
  order: 2;
  width: 180px;
  height: 450px;
  border-top: 10px solid;
  border-right: 10px solid;
  border-bottom: 10px solid;
}

.messenger-people-tabs {
  border-bottom: 2px solid #6cabe4;
}

.messenger-people-tab {
  display: inline-block;
  width: 85px;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #ddd;
  border-right-color: #666;
  border-bottom-color: #666;
  border-left-color: #ddd;
  line-height: 26px;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
  color: #222;
  background-image: linear-gradient(to bottom, #eee, #bbb);
  cursor: pointer;
}

.messenger-people-tab.chat-nav-current {
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
}

.messenger-users-in-room,
.messenger-friends {
  display: block;
  width: 100%;
  height: calc(100% - 32px);
  overflow-y: scroll;
}

.messenger-user-in-room,
.messenger-friend  {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 30px;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  margin: 3px;
  list-style-type: none;
}

.messenger-user-in-room img,
.messenger-friend img {
  order: 1;
  display: block;
  width: 25px;
  height: 25px;
}

.messenger-user-in-room span,
.messenger-friend span {
  order: 2;
  display: block;
  height: 25px;
  margin-left: 9px;
  line-height: 25px;
  overflow: hidden;
}

.messenger-focused-person {
  position: absolute;
  left: -30px;
  top: 0px;
}

.chat-display-admin {
  font-style: italic;
  color: #c10006;
}

.chat-display-username-self {
  color: #009fff;
}

.chat-display-username-other {
  color: #326fff;
}

.chat-whisper {
  color: #a100ff;
}

@media (max-width: 1279px) {
  .messenger-connect-disconnect-mobile-spacer {
    width: 0px;
  }

  .messenger-channel-switch {
    padding-left: 50px;
  }

  .messenger-channel-label {
    padding-left: 41px;
  }

  .messenger-chat {
    width: 450px;
  }
}

@media (max-width: 799px) {
  .messenger-room {
    flex-direction: column;
    height: 118px;
  }

  .messenger-connect-disconnect-outer,
  .messenger-current-container,
  .messenger-go-container {
    margin-bottom: 4px;
  }

  .messenger-connect-disconnect-container {
    width: 85px;
  }

  .messenger-connect-disconnect-mobile-spacer {
    width: 100%;
  }

  .messenger-channel-switch {
    padding-left: 0px;
  }

  .messenger-channel-label {
    padding-right: 20px;
    padding-left: 0px;
  }
}