.disclaimer {
  min-width: 300px;
  max-width: 1000px;
}

.disclaimer__heading,
.disclaimer__text--final {
  margin-bottom: 12px;
  text-align: center;
}

.disclaimer__text {
  margin-bottom: 12px;
  font-size: 12px;
  font-family: Arial, sans-serif;
}