/* This is everything underneath the "Close Planner" button up top. */
#mobile_planner {
  display: block;
  min-width: 300px;
  width: 100vw;
  min-height: 290px;
  height: calc(100vh - 32px);
  margin: 0;
  padding: 0 7px;
  background-color: #fff;
}



#mobile_planner_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 30px;
}

#mobile_planner h1 {
  order: 1;
  height: 30px;
  margin: 0;
  line-height: 30px;
}

#mobile_autosave_feedback {
  order: 2;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #aaa;
}



/* This is everything underneath the heading and autosave feedback. */
#mobile_calendar_container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 100%;
  min-height: 235px;
  height: calc(100vh - 73px);
  margin: 0 auto 0 auto;
  padding-top: 5px;
}



/*
This is the calendar proper,
though this should be improved,
as there is currently a bit of wasted/unused screen space.
*/
#mobile_monthly_plan {
  min-width: 300px;
  max-width: 100%;
  min-height: 235px;
  height: 50%;
  background: #b1d7f9;
}

#mobile_monthly_plan #thead {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  width: 100%;
  height: 20px;
}

#mobile_monthly_plan .th {
  height: 20px;
  text-align: center;
}

#mobile_monthly_plan #tbody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  width: 100%;
  min-height: 170px;
  border: 1px solid #b1d7f9;
}

#mobile_monthly_plan .td {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* :after? */
#mobile_monthly_plan .td:before {
  content: "";
  height: 0;
  display: inline-block;
  padding-top: 100%;
  width: 1px;
  position: relative;
}

#mobile_monthly_plan .td .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  justify-items: start;
  align-items: end;
}

/*#mobile_monthly_plan .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
  /*height:90%;
  width:90%;
  padding: 5%;*/
/*}*/

.mobile_the_date {
  position: absolute;
  top: 0;
  right: 0;
  width: content;
  height: content;
  user-select: none;
  color: #afafaf;
}

.mobile_planner_day {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  padding-top: 26px;
  padding-left: 13px;
  background: #fff;
  overflow: hidden;
  cursor: hand;
  cursor: pointer;
  transform: none;
}



/* The area for MobilePlannerRecipesList and MobilePlannerExpandedDay */
#mobile_work_area {
  order: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: none;
  width: 100%;
  min-height: 235px;
  height: 50%;
}

/* The container around MobilePlannerExpandedDay */
#mobile_expanded_day_area {
  position: relative;
  margin-top: 12px;
  margin-left: 10px;
  border: 1px solid #fff;
}

/* This is the MobilePlannerExpandedDay (outside the calendar proper). */
.mobile_planner_expanded_day {
  position: relative;
  min-width: 98%;
  min-height: 98%;
  max-height: 98%;
  max-width: 98%;
  border: 1px solid #bfbfbf;
  padding-top: 20px;
  padding-left: 6px;
  background: #fff;
  box-shadow: 1px 1px 1px #555;
  overflow: hidden;
}



/* These are temporary highlight colors for when dragging/hovering a recipe over a day */
.mobile_planner_day_green {
  background: #d6ffd6;
}

.mobile_planner_day_white {
  background: #fff;
}



/*
This is NOT a perfect solution, but for now,
for many (not all) mobile devices, this will reorient our areas to also look good
when their mobile device is in the landscape orientation.
*/
@media (min-width: 500px) {
  #mobile_calendar_container {
    flex-direction: row;
    min-height: 235px;
    height: calc(100vh - 73px);
  }

  #mobile_monthly_plan {
    min-height: 235px;
    height: 100%;
  }

  #mobile_work_area {
    grid-template-columns: none;
    grid-template-rows: 48% 52%;
    min-height: 235px;
    height: 100%;
  }

  #mobile_expanded_day_area {
    min-height: 117px;
    margin-top: 2px;
    margin-left: 1px;
  }
}
