#mobile_planner {
  display: block;
  min-width: 300px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 7px;
  background-color: #fff;
}

#mobile_planner_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 30px;
}

#mobile_planner h1 {
  order: 1;
  height: 30px;
  margin: 0;
  line-height: 30px;
}

#mobile_autosave_feedback {
  order: 2;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #aaa;
}

#mobile_calendar_container {
  max-width: 100%;
  min-width: 300px;
  height: 480px;
  margin: 0 auto 0 auto;
  padding-top: 5px;
}

#mobile_monthly_plan {
  max-width: 100%;
  min-width: 300px;
  /*height: 328px;*/
  background: #b1d7f9;
}

#mobile_monthly_plan #table {
  /*min-height: 170px;*/
  /*max-height: 180px;*/
  /*border-collapse: collapse;*/
  /*table-layout: fixed;*/
  display: grid;

}

/*#mobile_monthly_plan tr {
  position: relative;
  min-width: 100%;
  max-height: 40px;
  background: #b1d7f9;
}*/

#mobile_monthly_plan #thead {
  /*
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  width: 100%;
  height: 20px;
}

#mobile_monthly_plan .th {
  /*width: 14%;*/
  height: 20px;
  text-align: center;
}

#mobile_monthly_plan #tbody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  width: 100%;
  min-height: 170px;
  border: 1px solid #b1d7f9;
}

#mobile_monthly_plan .td {
  position: relative;
  width: 100%;
  /*border: 1px solid #ccc;*/
  overflow: hidden;
  /*
  float: left;
  position: relative;
  width: 6.85%;
  */
  /*min-width: 40px;
  max-height: 32px;*/
  /*
  overflow: hidden;
  margin-top: 1px;
  margin-left: 1px;
  */
  /*border: 1px solid #b1d7f9;*/
  /*
  padding: 6.85%;
  */
}

#mobile_monthly_plan .td:before {
  content: "";
  height: 0;
  display: inline-block;
  padding-top: 100%;
  width: 1px;
  position: relative;
}
#mobile_monthly_plan .td .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  justify-items: start;
  align-items: end;
}

/*#mobile_monthly_plan .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
  /*height:90%;
  width:90%;
  padding: 5%;*/
/*}*/

.mobile_the_date {
  position: absolute;
  top: 0;
  right: 0;
  width: content;
  height: content;
  user-select: none;
  color: #bfbfbf;
}

.mobile_planner_day {
  position: relative;
  /*min-width: 40px;
  min-height: 32px;
  max-height: 100%;*/
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  /*padding-top: 18px;
  padding-left: 3px;*/
  padding-top: 26px;
  padding-left: 13px;
  background: #fff;
  overflow: hidden;
  cursor: hand;
  cursor: pointer;
  transform: none;
}

/* @@@@@@@@@@@ CHANGE ME @@@@@@@@@@@ */
.mobile_planner_day_expanded {
  position: absolute;
  width: 150px;
  height: 180px;
  max-height: 180px;
  padding-top: 18px;
  padding-left: 6px;
  background: #fff;
  border: 1px solid #bfbfbf;
  overflow: hidden;
  cursor: hand;
  cursor: pointer;
  box-shadow: 1px 1px 1px #555;
  z-index: 1055;
  /*transform: translateX(var(--shiftX)) translateY(var(--shiftY));*/
}

.mobile_planner_day_green {
  background: #d6ffd6;
}

.mobile_planner_day_white {
  background: #fff;
}

#mobile_work_area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#mobile_expanded_day_area {
  min-width: 100px;
  max-width: 30%;
  height: 180px;
  margin-top: 12px;
  border: 1px solid #bfbfbf;
  padding: 6px;
}
