#mobile_planner {
  display: block;
  min-width: 300px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 7px;
  background-color: #fff;
}

#mobile_planner_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 30px;
}

#mobile_planner h1 {
  order: 1;
  height: 30px;
  margin: 0;
}

#mobile_autosave_feedback {
  order: 2;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #aaa;
}

#mobile_calendar_container {
  width: 99%;
  height: 480px;
  margin: 0 auto 0 auto;
  padding-top: 5px;
}

#mobile_monthly_plan {
  width: 300px;
  /*height: 328px;*/
  background: #b1d7f9;
}

#mobile_monthly_plan table {
  height: 134px;
  max-height: 134px;
  border-collapse: collapse;
  table-layout: fixed;
}

#mobile_monthly_plan tr .mobile_display {
  position: relative;
  min-width: 100%;
  max-height: 40px;
  background: #b1d7f9;
}

#mobile_monthly_plan th {
  width: 40px;
  height: 20px;
  text-align: center;
}

#mobile_monthly_plan td {
  width: 40px;
  height: 32px;
  max-height: 32px;
  overflow: hidden;
  border: 1px solid #b1d7f9;
  padding: 0;
}

.mobile_the_date {
  position: absolute;
  top: 0;
  right: 0;
  width: content;
  height: content;
  padding-top: 1px;
  padding-right: 3px;
  user-select: none;
  color: #afafaf;
}

.mobile_planner_day_collapsed {
  position: relative;
  width: 40px;
  height: 32px;
  max-height: 32px;
  padding-top: 18px;
  padding-left: 3px;
  overflow: hidden;
  cursor: hand;
  cursor: pointer;
  transform: none;
}

.mobile_planner_day_expanded {
  position: absolute;
  width: 150px;
  height: 450px;
  max-height: 460px;
  padding-top: 18px;
  padding-left: 6px;
  background: #fff;
  border: 1px solid #bfbfbf;
  overflow: hidden;
  cursor: hand;
  cursor: pointer;
  box-shadow: 1px 1px 1px #555;
  z-index: 3;
  transform: translateX(var(--shiftX)) translateY(var(--shiftY));
}
