.login {
  font-family: 'Play', sans-serif;
  font-size: 13px;
}

.login .auth-img-link {
  display: block;
  margin: 0 auto;
  max-width: content;
}

.login .auth-img-desktop {
  display: block;
  margin: 0 auto;
}

.login .auth-img-mobile {
  display: none;
  margin: 0 auto;
}

.login-form {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  margin: 20px auto 20px auto;
  padding: 14px 18px;
  width: 320px;
}

.login-heading {
  display: block;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 14px;
}

.login-feedback {
  color: #c10006;
  font-family: Arial;
  font-size: 14px;
  height: 31px;
  text-align: center;
  width: 100%;
}

.login-label {
  display: block;
  margin: 14px auto 4px auto;
  font-size: 13px;
  font-weight: 700;
}

.login-input {
  border: 1px solid #aaa;
  border-radius: 2px;
  display: block;
  height: 31px;
  margin: 0 auto 0 auto;
  padding: 3px 7px 3px 7px;
  width: 100%;
}

.login-distinction-line {
  border-top: 1px solid #ccc;
}

.login-button,
.login-button__facebook,
.login-button__google {
  border: 1px solid;
  border-color: #999 #777 #555 #777;
  border-radius: 2px;
  cursor: pointer;
  cursor: hand;
  height: 31px;
  margin: 18px auto 24px auto;
  padding-top: 1px;
  width: 100%;
}

.login-button {
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
  color: black;
  font-family: 'Play', sans-serif;
  font-size: 14px;
}

.login-button:hover,
.login-button:active {
  background-image: linear-gradient(to bottom, #8cbeec, #4493d8);
}

.login-button__facebook {
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  color: #fff;
  font-family: Arial;
  font-size: 12px;
}

.login-button__facebook:hover,
.login-button__facebook:active {
  background-image: linear-gradient(#425886, #314879 50%);
}

.login-button__google {
  background: #dd5347;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
}

.login-button__google:hover,
.login-button__google:active {
  background: #bd453b;
}

@media (max-width: 899px) {
  .login .auth-img-desktop {
    display: none;
    margin: 0 auto;
  }

  .login .auth-img-mobile {
    display: block;
    margin: 0 auto;
  }

  .login .login-form {
    width: 280px;
  }
}