.cuisine {
  width: 1020px;
}

.cuisine-tabs {
  border-bottom: 2px solid #6cabe4;
  margin-bottom: 10px;
  width: 100%;
}

.cuisine-tab {
  border-color: #ddd #666 #666 #ddd;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  color: #222;
  cursor: pointer;
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
  height: 30px;
  line-height: 26px;
  padding: 0 8px 0 8px;
  width: 188px;
}

.cuisine-tab.active {
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
}

.cuisine-tab.inactive {
  background-image: linear-gradient(to bottom, #eee, #bbb);
}

.cuisine-nearby-stores {
  height: 260px;
  width: 260px;
}

.cuisine-nearby-stores-button,
.cuisine-nearby-stores-iframe {
  height: 100%;
  margin-bottom: 5px;
  width: 100%;
}

.cuisine-nearby-stores-button {
  background-image: linear-gradient(to bottom, #eee, #bbb);
  border-color: #fff #888 #888 #fff;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}