.submit-recipe {
  min-width: 1200px;
  max-width: 1200px;
}

.submit-recipe label {
  display: block;
  margin: 14px auto 4px auto;
  font-size: 1.3rem;
  font-weight: 700;
  color: #777;
}

.submit-recipe input {
  display: block;
  width: 100%;
  height: 31px;
  margin: 0 auto 0 auto;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 3px 7px 3px 7px;
}

.submit-recipe input:focus {
  background-color: #fdfdd5;
}

.submit-recipe select:required {
  box-shadow: none;
}

.submit-recipe select:disabled {
  border-color: #ddd;
}

.submit-recipe #equipment_div,
.submit-recipe #ingredients_div,
.submit-recipe #subrecipes_div,
.submit-recipe .image_div {
  padding-top: 18px;
}

.submit-recipe .red_style {
  font-size: 1.7rem;
  color: #333;
}

.submit-recipe .manual_amount,
.submit-recipe .manual_amount_sub {
  display: inline-block;
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  height: 25px;
  margin-right: 18px;
  margin-left: 4px;
}

.submit-recipe .select_subrecipe {
  width: 233px;
  min-width: 233px;
  max-width: 233px;
  margin-right: 18px;
}

.submit-recipe .recipe_additions p {
  display: block;
  width: 100%;
  margin: 14px auto 4px auto;
  font-size: 1.3rem;
  font-weight: 700;
}

.submit-recipe .recipe_additions label {
  display: inline-block;
}

.submit-recipe .recipe_additions input {
  display: inline-block;
  width: 75%;
}

.submit-recipe .recipe_additions div select {
  margin-right: 17px;
  margin-left: 3px;
}

.submit-recipe .remove_equipment_row_button,
.submit-recipe .remove_ingredient_row_button,
.submit-recipe .remove_subrecipe_row_button {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 2px;
}

.submit-recipe #add_equipment_button,
.submit-recipe #add_ingredient_button,
.submit-recipe #add_subrecipe_button {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 2px;
}

.submit-recipe #add_equipment_button,
.submit-recipe #add_subrecipe_button {
  margin-top: 8px;
}

.submit-recipe #add_ingredient_button {
  margin-top: 10px;
}

.submit-recipe #submit_button {
  display: block;
  width: 100%;
  height: 31px;
  margin: 48px auto 24px auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-top-color: #999;
  border-right-color: #777;
  border-bottom-color: #555;
  border-left-color: #777;
  padding-top: 1px;
  font-family: 'Play', sans-serif;
  font-size: 1.4rem;
  color: black;
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
  cursor: pointer;
  cursor: hand;
}

.submit-recipe #submit_button:hover {
  background-image: linear-gradient(to bottom, #8cbeec, #4493d8);
}

.submit-recipe #submit_button:active {
  background-image: linear-gradient(to bottom, #8cbeec, #4493d8);
}