#app {
  display: grid;
  grid-template-areas: none;
  grid-template-rows: 92px auto 92px;
  max-width: calc(100vw - (100vw - 100%));
  min-width: calc(100vw - (100vw - 100%));
  min-height: 100vh;
}

.mobile_display {
  display: none;
}

.desktop_display {
  display: block;
}

.image-default-280-172 {
  min-height: 172px;
  min-width: 280px;
}

.image-default-100-62 {
  min-height: 62px;
  min-width: 100px;
}

.image-default-28-18 {
  min-height: 18px;
  min-width: 28px;
}

/*

mobile

*/

@media (max-width: 899px) {
  #app {
    grid-template-rows: 92px auto 237px;
  }

  .mobile_display {
    display: block;
  }

  .desktop_display {
    display: none;
  }
}