#app {
  display: grid;
  grid-template-rows: 92px auto 92px;
  grid-template-areas: none;
  min-height: 100vh;
}



/* mobile */
@media (max-width: 599px) {
  #app {
    grid-template-rows: 92px auto 237px;
  }
}
