* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  min-width: 1280px;
  height: 100%;
  font-size: 10px;
}

body {
  width: 100%;
  min-width: 1280px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto 0 auto;
  font-family: 'Play', sans-serif;
}

/* Fonts */
h1, h2, h3, h4 {
  line-height: 1.2;
  font-weight: bold;
}
h1 {font-size: 2.8rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.6rem;}
h4 {font-size: 1.4rem;}
p {font-size: 1.3rem;}
a {font-size: 1.3rem;}
span {font-size: 1.3rem;}
li {font-size: 1.3rem;}
th, td {font-size: 1.3rem;}