/*
reset
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
base styles
*/

html {
  width: 100%;
  min-width: 1280px;
  height: 100%;
  font-size: 10px;
}

body {
  width: 100%;
  min-width: 1280px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto 0 auto;
  font-family: 'Play', sans-serif;
}

/*
base fonts
*/

h1, h2, h3, h4 {
  line-height: 1.2;
  font-weight: bold;
}
h1 {font-size: 2.8rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.6rem;}
h4 {font-size: 1.4rem;}
p {font-size: 1.3rem;}
a {font-size: 1.3rem;}
span {font-size: 1.3rem;}
li {font-size: 1.3rem;}
th, td {font-size: 1.3rem;}

/*
themes/layouts
*/

/*
one-column-a
*/

.one-column-a {
  display: block;
}

/*
two-column-a
*/

.two-column-a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.two-column-a article {
  order: 2;
  flex: 1 1 auto;
  width: 960px;
  min-width: 960px;
  max-width: 960px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px 10px;
  overflow: auto;
  background-color: #fff;
}

.two-column-a-light article {
  background-color: #fff;
  color: #000;
}

.two-column-a-light #monthly_plan #thead,
.two-column-a-light #monthly_plan .th {
  background-color: #b1d7f9;
  color: #000;
}

.two-column-a-light #monthly_plan #tbody {
  border: 1px solid #b1d7f9;
  background-color: #b1d7f9;
}

.two-column-a-light .planner_day_white {
  background-color: #fff;
}

.two-column-a-light .planner_day_green {
  background-color: #d6ffd6;
}

.two-column-a-light .the_date {
  color: #afafaf;
}

.two-column-a-light #expanded_day_area {
  border: 1px solid #fff;
}

.two-column-a-light .planner_expanded_day {
  background-color: #fff;
  border: 1px solid #bfbfbf;
  box-shadow: 1px 1px 1px #555;
}

.two-column-a-light #planner_recipes_list {
  border: 1px solid #bfbfbf;
}

.two-column-a-light .planner_recipe {
  background-color: #fff3cc;
  border: 1px solid #ffdec3;
  box-shadow: 1px 1px 1px #999;
  color: #000;
}

.two-column-a-dark article {
  background-color: #222;
  color: #aaa;
}

.two-column-a-dark #monthly_plan #thead,
.two-column-a-dark #monthly_plan .th {
  background-color: #507ea7;
  color: #bbb;
}

.two-column-a-dark #monthly_plan #tbody {
  border: 1px solid #507ea7;
  background-color: #507ea7;
}

.two-column-a-dark .planner_day_white {
  background-color: #222;
}

.two-column-a-dark .planner_day_green {
  background-color: #3d6d3d;
}

.two-column-a-dark .the_date {
  color: #666;
}

.two-column-a-dark #expanded_day_area {
  border: 1px solid #222;
}

.two-column-a-dark .planner_expanded_day {
  background-color: #222;
  border: 1px solid #5a5a5a;
  box-shadow: 1px 1px 1px #131313;
}

.two-column-a-dark #planner_recipes_list {
  border: 1px solid #5a5a5a;
}

.two-column-a-dark .planner_recipe {
  background-color: #afae8f;
  border: 1px solid #826e52;
  box-shadow: 1px 1px 1px #131313;
  color: #000;
}

.two-column-a-dark .demo-only-notice {
  background-color: #507ea7;
  color: #000;
}

/*
two-column-b
*/

/*.two-column-b {

}*/

/*
nav-grid-a
*/

.nav-grid-a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 280px;
  max-width: 580px;
}

.nav-grid-a-item {
  width: 268px;
  height: 188px;
  display: inline-block;
  margin: 5px auto;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  padding: 18px 10px;
}

.nav-grid-a-item-text {
  display: block;
  text-align: center;
  padding-bottom: 12px;
  margin-right: auto;
  margin-left: auto;
  width: 160px;
  font-weight: 900;
  font-size: 15px;
}

.nav-grid-a-item-image {
  display: block;
  width: 120px;
  margin: auto;
}

.nav-grid-a-light {
  background-color: #fff;
  color: #000;
}

.nav-grid-a-light .nav-grid-a-item {
  border-color: #ddd;
}

.nav-grid-a-dark {
  background-color: #222;
  color: #aaa;
}

.nav-grid-a-dark .nav-grid-a-item {
  border-color: #333;
}

/*
mobile
*/

@media (max-width: 899px) {
  html,
  body,
  #root {
    min-width: 300px;
    max-width: 100vw;
  }

  h1 {font-size: 2rem;}
  h2 {font-size: 1.7rem;}
  h3 {font-size: 1.5rem;}
  h4 {font-size: 1.4rem;}
}

/*
tablet (portrait)
*/

@media (min-width: 600px) {

}

/*
tablet (landscape)
*/

@media (min-width: 900px) {

}

/*
desktop
*/

@media (min-width: 1200px) {

}