.user-nav {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  float: right;
  list-style-type: none;
}

.user-nav li {
  margin-left: 9px;
  margin-right: 9px;
}

.user-nav-link {
  display: block;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  height: 24px;
}

.user-nav-link:hover,
.user-nav-link:active {
  text-decoration: underline;
}

.signed-in-nav-span,
.mode-button {
  display: block;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  height: 24px;
}

.signed-in-nav-span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mode-button:hover {
  text-decoration: none;
  cursor: pointer;
}

.signed-in-nav-span:active,
.mode-button:active {
  cursor: pointer;
}

.sun-symbol,
.moon-symbol {
  font-style: normal;
}

.sun-symbol {
  color: #fffdb1;
}

.moon-symbol {
  color: #183a39;
}