.login {
  font-family: 'Play', sans-serif;
  font-size: 13px;
}

.login .auth-img-link {
  display: block;
  margin: 0 auto;
  max-width: content;
}

.login .auth-img-desktop {
  display: block;
  margin: 0 auto;
}

.login .auth-img-mobile {
  display: none;
  margin: 0 auto;
}

.login .login-form {
  display: block;
  width: 320px;
  margin: 20px auto 20px auto;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 4px;
  padding: 14px 18px;
}

.login h1 {
  display: block;
  margin-bottom: 14px;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
}

.login label {
  display: block;
  margin: 14px auto 4px auto;
  font-size: 13px;
  font-weight: 700;
}

.login input {
  display: block;
  width: 100%;
  height: 31px;
  margin: 0 auto 0 auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #aaa;
  padding: 3px 7px 3px 7px;
}
/*input:focus {background-color: #fdfdd5;}*/

.login-form .error-message {
  width: 100%;
  height: 31px;
  color: #c10006;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
}

.login .distinction-line {
  border-top: 1px solid #ccc;
}

#centered_logo {
  display: block;
  margin-top: 10px;
  margin-right:	auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 900px;
  height: 100px;
}

#sign_in_button,
#facebook_federation_button,
#google_federation_button {
  width: 100%;
  height: 31px;
  margin: 18px auto 24px auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-top-color: #999;
  border-right-color: #777;
  border-bottom-color: #555;
  border-left-color: #777;
  padding-top: 1px;
  font-family: 'Play', sans-serif;
  font-size: 14px;
  color: black;
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
  cursor: pointer;
  cursor: hand;
}
#sign_in_button:hover {
  background-image: linear-gradient(to bottom, #8cbeec, #4493d8);
}
#sign_in_button:active {
  background-image: linear-gradient(to bottom, #8cbeec, #4493d8);
}

#facebook_federation_button {
  font-family: Arial;
  font-size: 12px;
  color: #fff;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
}
#facebook_federation_button:hover {
  background-image: linear-gradient(#425886, #314879 50%);
}
#facebook_federation_button:active {
  background-image: linear-gradient(#425886, #314879 50%);
}

#google_federation_button {
  font-family: Arial;
  font-size: 12px;
  color: #fff;
  background: #dd5347;
}
#google_federation_button:hover {
  background: #bd453b;
}
#google_federation_button:active {
  background: #bd453b;
}

.login .validation_messages {
  display: block;
  width: 320px;
  margin: 20px auto 20px auto;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  border-radius: 4px;
  padding: 5px;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
}

@media (max-width: 899px) {
  .login .auth-img-desktop {
    display: none;
    margin: 0 auto;
  }

  .login .auth-img-mobile {
    display: block;
    margin: 0 auto;
  }

  .login .login-form {
    width: 280px;
  }
}