@media (min-width: 900px) {
  .mobile_display {
    display: none;
  }

  .desktop_display {
    display: block;
  }
}

@media (max-width: 899px) {
  .plan-page {
    min-width: 300px;
    max-width: 100%;
  }

  .mobile_display {
    display: block;
  }
  
  .desktop_display {
    display: none;
  }
}