#planner_page {
  width: 1200px;
  min-height: fit-content;
}

.mobile_display {
  /* ??? */
  display: none;
}

.desktop_display {
  display: block;
}



/* mobile */
@media (max-width: 599px) {
  #planner_page {
    min-width: 300px;
    width: 320px;
    max-width: 100%;
  }

  .mobile_display {
    display: block;
  }
  
  .desktop_display {
    display: none;
  }
}
